{% extends "core/layouts/dashboard.html" %}

{% load static %}

{% load url_helpers %}

{% block dashboard_content %}
  <section id="{{ request.user.user_type }}-{{ app_label }}-list" class="box">
    {# Start Include Header List Component #}
    {% #page-header-title page_header=page_header show_back_btn=True is_archived_enabled=True app_name=app_label list_type=list_type is_archived_enabled=True perms=perms app_name_tooltip=app_label %}{% /page-header-title %}
    {# End Include Header List Component #}
    <div>
      {# Start Include Filter Form Component #}

      {% include "components/core/forms/filter_form.html" with object_list=object_list user_type=request.user.user_type action_url=app_label|add:":list" reset_url=app_label|add:":list" filter_form=filter_form app_name=app_label %}

      {# End Include Filter Form Component #}
      {# Start Include Special Assignments Table List Component #}

      {% include "components/special_assignment/table_list.html" with object_list=object_list user_type=request.user.user_type details_url=app_label|add:":details" action_urls_pattern=app_label enabled_action_btns="update,delete,details" app_name=app_label perms=perms is_show_created_at=is_show_created_at request=request is_show_manager=True %}

      {# End Include Special Assignments Table List Component #}
      {# Start Include Pagination Component #}
      {% #pagination page_obj=page_obj %}{% /pagination %}
      {# Start Include Pagination Component #}
    </div>
  </section>
{% endblock dashboard_content %}
{% block externaljs %}
{% endblock externaljs %}
