{% extends 'core/layouts/dashboard.html' %}

{% block dashboard_content %}
<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hello, {{ bookkeeper_name }}
            </h1>
            <h2 class="subtitle">
                {{ quote_text }}
            </h2>
        </div>
    </div>
</section>
<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">439k</p>
                <p class="subtitle">Clients</p>
            </article>
        </div>

        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">3.4k</p>
                <p class="subtitle">Open Tasks</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title has-text-danger">19</p>
                <p class="subtitle has-text-danger-dark">Past Due</p>
            </article>
        </div>
    </div>
</section>
<div class="columns">
    <div class="column is-6">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title subtitle is-capitalized
                    has-text-weight-bold has-text-dark">
                    Clients
                </p>
                <!-- <a href="#" class="card-header-icon"
                    aria-label="more options">
                    <span class="icon">
                        <i class="fa fa-angle-down"
                            aria-hidden="true"></i>
                    </span>
                </a> -->
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth
                        is-striped">
                        <tbody>
                            <tr>
                                <td width="5%"><i class="fa-solid fa-bell"></i></td>
                                <td>Lorum ipsum dolem aire</td>
                                <td class="level-right"><a
                                        class="button
                                        is-small is-primary"
                                        href="#">Action</a></td>
                            </tr>
                            <tr>
                                <td width="5%"><i class="fa-solid fa-bell"></i></td>
                                <td>Lorum ipsum dolem aire</td>
                                <td class="level-right"><a
                                        class="button
                                        is-small is-primary"
                                        href="#">Action</a></td>
                            </tr>
                            <tr>
                                <td width="5%"><i class="fa-solid fa-bell"></i></td>
                                <td>Lorum ipsum dolem aire</td>
                                <td class="level-right"><a
                                        class="button
                                        is-small is-primary"
                                        href="#">Action</a></td>
                            </tr>
                            <tr>
                                <td width="5%"><i class="fa-solid fa-bell"></i></td>
                                <td>Lorum ipsum dolem aire</td>
                                <td class="level-right"><a
                                        class="button
                                        is-small is-primary"
                                        href="#">Action</a></td>
                            </tr>
                            <tr>
                                <td width="5%"><i class="fa-solid fa-bell"></i></td>
                                <td>Lorum ipsum dolem aire</td>
                                <td class="level-right"><a
                                        class="button
                                        is-small is-primary"
                                        href="#">Action</a></td>
                            </tr>
                            <tr>
                                <td width="5%"><i class="fa-solid fa-bell"></i></td>
                                <td>Lorum ipsum dolem aire</td>
                                <td class="level-right"><a
                                        class="button
                                        is-small is-primary"
                                        href="#">Action</a></td>
                            </tr>
                            <tr>
                                <td width="5%"><i class="fa-solid fa-bell"></i></td>
                                <td>Lorum ipsum dolem aire</td>
                                <td class="level-right"><a
                                        class="button
                                        is-small is-primary"
                                        href="#">Action</a></td>
                            </tr>
                            <tr>
                                <td width="5%"><i class="fa-solid fa-bell"></i></td>
                                <td>Lorum ipsum dolem aire</td>
                                <td class="level-right"><a
                                        class="button
                                        is-small is-primary"
                                        href="#">Action</a></td>
                            </tr>
                            <tr>
                                <td width="5%"><i class="fa-solid fa-bell"></i></td>
                                <td>Lorum ipsum dolem aire</td>
                                <td class="level-right"><a
                                        class="button
                                        is-small is-primary"
                                        href="#">Action</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">View
                    All</a>
            </footer>
        </div>
    </div>
    <div class="column is-6">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title subtitle is-capitalized
                    has-text-weight-bold has-text-dark">
                    Weekly Tasks
                </p>
                <!-- <a href="#" class="card-header-icon"
                    aria-label="more options">
                    <span class="icon">
                        <i class="fa fa-angle-down"
                            aria-hidden="true"></i>
                    </span>
                </a> -->
            </header>
            <div class="card-content p-0 card-table">
                <div class="list">
                    <div class="list-item">
                        <div class="list-item-title">
                            <a href="" class="has-text-dark">List item</a>
                        </div>
                    </div>

                    <div class="list-item">
                        <div class="list-item-title">
                            <a href="" class="has-text-dark">List item</a>
                        </div>
                    </div>

                    <div class="list-item">
                        <div class="list-item-content">
                            <div class="list-item-title">
                                <a href="" class="has-text-dark">List item</a>
                            </div>

                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-content">
                            <div class="list-item-title">
                                <a href="" class="has-text-dark">List item</a>
                            </div>

                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-content">
                            <div class="list-item-title">
                                <a href="" class="has-text-dark">List item</a>
                            </div>

                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-content">
                            <div class="list-item-title">
                                <a href="" class="has-text-dark">List item</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">View
                    All</a>
            </footer>
        </div>
    </div>
</div>
{% endblock dashboard_content %}
