{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            
            {% block title %}
                {{ title }}
            {% endblock title %}
                
        </title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="title" content="{{ title here }}" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="robots" content="index, follow" />
        <meta name="language" content="Arabic" />
        <meta name="author" content="Ibrahim Luqman" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/bulma.css' %}" />
        <link rel="stylesheet" href="{% static 'css/all.css' %}" />
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />


    </head>

    <body>
        <!-- Here is our main header that is used across all the pages of our website -->
        <header id="header">

        </header>
