<div class="modal" id="task-template-details-modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: auto !important;">
        <header class="modal-card-head">
            <p class="modal-card-title"></p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="is-flex is-justify-content-end">
                <div class="mr-5">
                    <h5 class="title is-size-5">Title</h5>
                    <p class="subtitle is-size-6 py-2" id="taskTemplateTitle"></p>
                </div>
                <div class="ml-5">
                    <h5 class="title is-size-5">Notes</h5>
                    <p class="subtitle is-size-6 py-2 break-words-with-width"
                       id="taskTemplateNotes"></p>
                </div>
            </div>
            <hr />
            <div class="is-flex is-justify-content-space-around">
                <div>
                    <h5 class="title is-size-5">Type</h5>
                    <p class="subtitle is-size-6 py-2" id="taskTemplateType"></p>
                </div>
                <div>
                    <h5 class="title is-size-5">Status</h5>
                    <p class="subtitle is-size-6 py-2" id="taskTemplateStatus"></p>
                </div>
            </div>
            <hr />
            <div class="is-flex">
                <div>
                    <div class="content break-words-with-width">
                        <h5 class="title is-size-5">Task Items</h5>
                        <ul id="taskTemplateItemsWrapper">
                        </ul>
                    </div>
                </div>
                <div>
                    <h5 class="title is-size-5">
                        Attachment: &nbsp; <a href=""
    class="hint--top"
    aria-label="Task attachment"
    id="taskTemplateAttachment"><i class="fa-solid fa-paperclip"></i></a>
                    </h5>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot is-justify-content-end">
            <button class="button is-success is-responsive submit-btn">Save changes</button>
            <button class="button is-responsive is-light is-danger close-modal-btn">Cancel</button>
        </footer>
    </div>
</div>
