{% extends 'core/layouts/dashboard.html' %}
{% load static %}

{% block dashboard_content %}
<section class="box block" id="manager-manager-list">
  <header>
    <h3 class="title is-3">
      Managers archive
      <a class="button is-primary mx-1" href="{% url 'manager:manager:create' %}">
        <i class="fa-solid fa-plus"></i>
      </a>
    </h3>
  </header>
  <hr />
  <div>
    {% if object_list.count > 0 %}
    <table class="table is-fullwidth table-100 table-list-component is-bordered is-striped is-narrow"
      id="managerManagersTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Special Assignment</th>
          <th>Active</th>
          <th>Status</th>
          <!-- <th>Slug</th> -->
          <th>Created AT</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Special Assignment</th>
          <th>Active</th>
          <th>Status</th>
          <!-- <th>Slug</th> -->
          <th>Created AT</th>
          <th>Actions</th>
        </tr>
      </tfoot>
      <tbody>

        {% for object in object_list %}
        <tr>
          <td>
            <a href="#">{{ object.user.fullname }}</a>
          </td>
          <td>
            <a href="mailto:{{ object.user.email }}">
              {{ object.user.email }}
            </a>
          </td>
          <td class="has-text-centered">

            {{ object.special_assignments.count }}
          </td>
          <td>{{ object.is_active_labeled }}</td>
          <td>{{ object.status|title }}</td>

          {% comment %}
          <td>{{ object.slug }}</td>
          {% endcomment %}

          <td>{{ object.created_at|date:"SHORT_DATE_FORMAT" }}</td>
          <td>
            <div class="buttons are-small justify-center">
              <a href="{% url 'manager:users:update' %}?user={{ object.user.pk }}"
                class="button is-info is-light is-small is-responsive small-fa-fonts" title="Edit user credentials">
                <i class="fa-solid fa-user-pen"></i>
              </a>
              <a href="{% url 'manager:manager:update' object.pk %}" class="button is-success is-light" title="Edit manager">
                <i class="fa-solid fa-pencil"></i>
              </a>
              <a href="{% url 'manager:manager:delete' object.pk %}" class="button is-danger is-light">
                <i class="fa-solid fa-trash"></i>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    {% else %}
    <div class="notification is-warning">
      <!-- <button class="delete"></button> -->
      No archived manager(s)
    </div>
    {% endif %}
  </div>
</section>

{% endblock dashboard_content %}
{% block externaljs %}
<script src="{% static 'js/manager/manager/list.js' %}" defer type="module"></script>
{% endblock externaljs %}
