{% extends 'core/layouts/dashboard.html' %}
{% load crispy_forms_tags %}


{% block dashboard_content %}

<section id="manager-create-user-form">
    <div class="box block">
        <form method="post" id="create-user-form">
            {% csrf_token %}
            <legend class="title has-text-black">
                Create new staff member
            </legend>
            <hr />
            <fieldset form="create-user-form">
                {{ form| crispy }}
                <div class="has-text-right">
                    <button type="submit" class="button is-info is-fullwidth">Create</button>
                </div>
            </fieldset>
    
        </form>
    </div>
</section>

{% endblock dashboard_content %}
