{% extends 'core/layouts/dashboard.html' %}
{% load crispy_forms_tags %}


{% block dashboard_content %}

<section id="manager-update-user-form">
    <div class="box block">
        <form method="post" id="update-user-form">
            {% csrf_token %}
            <legend class="title has-text-black">
                Update team member
            </legend>
            <hr>
            <fieldset form="update-user-form">
                {{ form| crispy }}
                <div class="has-text-right">
                    <button type="submit" class="button is-info is-fullwidth">
                        Update
                    </button>
                </div>
            </fieldset>

        </form>
    </div>
</section>

{% endblock dashboard_content %}
