{% load static %}
{% comment %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/all.css' %}" />
<link rel="stylesheet" href="{% static 'css/bulma.css' %}" />
<link rel="stylesheet" href="{% static 'css/bulma-extensions/bulma-badge.css' %}" />
<link rel="stylesheet" href="{% static 'css/bulma-extensions/bulma-list.css' %}" />
<link rel="stylesheet" href="{% static 'css/bulma-extensions/bulma-tooltip.css' %}" />

{% comment  %}
<link rel="stylesheet" href="{% static 'vendors/DataTables/datatables.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/bulma-collapsible/css/bulma-collapsible.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/DataTables/Buttons-2.2.3/css/buttons.bulma.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/DataTables/FixedHeader-3.2.4/css/fixedHeader.bulma.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/DataTables/Responsive-2.3.0/css/responsive.bulma.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/DataTables/DateTime-1.1.2/css/dataTables.dateTime.css' %}" />
{% endcomment %}

<link rel="stylesheet" href="{% static 'css/bulma-extensions/bulma-helpers.css' %}" />
<link rel="stylesheet" href="{% static 'css/vendors/micromodal/micromodal.css' %}" />
<link rel="stylesheet" href="{% static 'css/vendors/toastify/toastify.css' %}" />
<link rel="stylesheet" href="{% static 'css/vendors/bulma-table/main.css' %}" />

<link rel="stylesheet" href="{% static 'css/bulma-extensions/bulma-ribbon.min.css' %}" />

<link rel="stylesheet" href="{% static 'css/vendors/hintcss/hint.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/sortable-tablesort/sortable-base.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/tingle/tingle.css' %}" />

<link rel="stylesheet" href="{% static 'css/dashboard/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/dashboard/inline-form.css' %}" />
