{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}
<link rel="stylesheet" href="{% static 'css/all.css' %}" />
<link rel="stylesheet" href="{% static 'css/bulma.css' %}" />
<link rel="stylesheet"
      href="{% static 'css/bulma-extensions/bulma-badge.css' %}" />
<link rel="stylesheet"
      href="{% static 'css/bulma-extensions/bulma-list.css' %}" />
<link rel="stylesheet"
      href="{% static 'css/bulma-extensions/bulma-tooltip.css' %}" />
<link rel="stylesheet"
      href="{% static 'css/bulma-extensions/bulma-helpers.css' %}" />
<link rel="stylesheet"
      href="{% static 'css/vendors/micromodal/micromodal.css' %}" />
<link rel="stylesheet"
      href="{% static 'css/vendors/toastify/toastify.css' %}" />
<link rel="stylesheet"
      href="{% static 'css/vendors/bulma-table/main.css' %}" />
<link rel="stylesheet"
      href="{% static 'css/bulma-extensions/bulma-ribbon.min.css' %}" />
<link rel="stylesheet"
      href="{% static 'css/vendors/hintcss/hint.min.css' %}" />
<link rel="stylesheet"
      href="{% static 'vendors/sortable-tablesort/sortable-base.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/tingle/tingle.css' %}" />
<link rel="stylesheet" href="{% static 'css/dashboard/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/dashboard/inline-form.css' %}" />
<link rel="stylesheet"
      href="{% static 'vendors/nice-select2/css/nice-select2.css' %}" />
<link rel="stylesheet"
      href="{% static 'vendors/hystmodal/hystmodal.min.css' %}" />
<link rel="stylesheet"
      href="{% static 'vendors/hystmodal/custom-style.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/jodit/jodit.css' %}" />
