{% load static %}
<script src="{% url 'js_settings' %}" defer></script>
<script type="text/javascript" src="{% static 'js/vendors/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/chart.js' %}" type="text/javascript" defer></script>
<script src="{% static 'js/all.js' %}" defer></script>
<script type="text/javascript" src="{% static 'js/vendors/micromodal/micromodal.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendors/toastify/toastify.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendors/clipboard/clipboard.js' %}"></script>

<script type="text/javascript" src="{% static 'vendors/sortable-tablesort/sortable.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/tingle/tingle.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/nice-select2/js/nice-select2.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/hystmodal/hystmodal.min.js' %}"></script>

{% comment  %}
  <script src="{% static 'vendors/jodit/jodit.min.js' %}" defer></script>
{% endcomment %}
<script src="{% static 'vendors/jodit/jodit.es2018.min.js' %}" defer type="module"></script>
<script type="module" src="{% static 'js/utils/datatable-helper.js' %}" defer></script>
<script type="module" src="{% static 'js/apps/core/inputs.js' %}" defer></script>
<script type="module" src="{% static 'js/apps/core/table_list_components.js' %}" defer></script>
<script type="module" src="{% static 'js/utils/generate_elements.js' %}" defer></script>
<script src="{% static 'js/utils/jodit_editor.js' %}" defer></script>
<script type="module" src="{% static 'js/app.js' %}" defer></script>
