<div class="box">
  <aside class="menu is-hidden-mobile">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li>
        <a class="left-side-item" href="{% url 'manager:dashboard' %}">Dashboard</a>
      </li>
      <li>
        <a class="left-side-item" href="{% url 'manager:manager:list' %}">Managers</a>
      </li>
      <li>
        <a class="left-side-item" href="{% url 'manager:bookkeeper:list' %}">Bookkeepers</a>
      </li>
      <li>
        <a class="left-side-item" href="{% url 'manager:assistant:list' %}">Assistants</a>
      </li>
      <li>
        <a class="left-side-item" href="{% url 'manager:client:list' %}">Clients</a>
      </li>
      <li>
        <a class="left-side-item" href="{% url 'manager:jobs:list' %}">Jobs</a>
      </li>
    </ul>
    <p class="menu-label">Administration</p>
    <ul class="menu-list">
      <li>
        <a>Site Settings</a>
      </li>
      <li>
        <a>Manage Your Team</a>
        <ul>
          <li>
            <a>Members</a>
          </li>
        </ul>
      </li>

    </ul>
    <p class="menu-label">Transactions</p>
    <ul class="menu-list">
      <li>
        <a>Payments</a>
      </li>
      <li>
        <a>Balance</a>
      </li>
      <li>
        <a>Reports</a>
      </li>
    </ul>

  </aside>
</div>
