<div class="box">
  <aside class="menu is-hidden-mobile">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li>
        <a class="left-side-item" href="{% url 'manager:dashboard' %}">Dashboard</a>
      </li>
      <li>
        <a class="left-side-item" href="{% url 'manager:manager:list' %}">Managers</a>
      </li>
      <li>
        <a class="left-side-item" href="{% url 'manager:bookkeeper:list' %}">Bookkeepers</a>
      </li>
      <li>
        <a class="left-side-item" href="{% url 'manager:assistant:list' %}">Assistants</a>
      </li>
      <li>
        <a class="left-side-item" href="{% url 'client:manager:list' %}">Clients</a>
      </li>
      <li>
        <a class="left-side-item" href="{% url 'jobs:manager:list' %}">Jobs</a>
      </li>
    </ul>
    <p class="menu-label">Administration</p>
    <ul class="menu-list">
      <li>
        <a>Settings</a>
        <ul>
          <li>
            <a href="{% url 'site_settings:web-app-settings' %}">Web app settings</a>
          </li>
        </ul>
      </li>

    </ul>

  </aside>
</div>
