{% if request.user.is_authenticated %}

{% comment %}
{{ perms.manager.manager_user }}
{{ perms.bookkeeper.bookkeeper_user }}
{{ perms.assistant.assistant_user }}
{% endcomment %}

<nav class="navbar is-white">
  <div class="container is-fluid">
    <div class="navbar-brand">
      {% if request.user.user_type == "bookkeeper" %}
      <a class="navbar-item brand-text" href="{% url 'bookkeeper:dashboard' %}">Bookkeeper</a>
      {% elif request.user.user_type == "assistant" %}
      <a class="navbar-item brand-text" href="{% url 'assistant:dashboard' %}">Assistant</a>
      {% elif request.user.user_type == "manager" %}
      <a class="navbar-item brand-text" href="{% url 'manager:dashboard' %}">Management</a>
      {% endif %}

      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">

        {% if request.user.user_type == "bookkeeper" %}
        <a class="navbar-item" href="{% url 'bookkeeper:client:list' %}">Clients</a>
        <a class="navbar-item" href="{% url 'bookkeeper:job:list' %}">Jobs</a>
        <a class="navbar-item" href="{% url 'bookkeeper:tasks:list' %}">Tasks</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Special Assignment
            <span title="Badge top right" class="tag mx-2 is-small is-rounded is-primary is-light">
              {{ request.user.bookkeeper.get_not_seen_special_assignments.count }}
            </span>
          </a>

          <div class="navbar-dropdown">
            <a href="{% url 'bookkeeper:special_assignment:list' %}" class="navbar-item">
              List all assignments
            </a>
            <a href="{% url 'bookkeeper:special_assignment:requested' %}" class="navbar-item">
              Requested assignments
            </a>
            <hr class="dropdown-divider" />
            <a href="{% url 'bookkeeper:special_assignment:create' %}" class="navbar-item">
              Create new assignment
            </a>
          </div>
        </div>
        {% elif request.user.user_type == "assistant" %}
        <a class="navbar-item" href="{% url 'assistant:bookkeeper:list' %}">Bookkeepers</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Clients
          </a>

          <div class="navbar-dropdown">
            <a href="{% url 'assistant:client:list' %}" class="navbar-item">
              List all clients
            </a>
            <a href="{% url 'assistant:important_contact:list' %}" class="navbar-item">
              Client contacts
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Jobs
          </a>

          <div class="navbar-dropdown">
            <a href="{% url 'assistant:job:list' %}" class="navbar-item">
              List all jobs
            </a>
            <a href="{% url 'assistant:important_contact:list' %}" class="navbar-item">
              Create job
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Special Assignment
            <span title="Badge top right" class="tag mx-2 is-small is-rounded is-primary is-light">
              {{ request.user.assistant.get_not_seen_special_assignments.count }}
            </span>
          </a>

          <div class="navbar-dropdown">
            <a href="" class="navbar-item">
              List all assignments
            </a>
            <a href="#" class="navbar-item">
              Requested assignments
            </a>
            <hr class="dropdown-divider" />
            <a href="" class="navbar-item">
              Create new assignment
            </a>
          </div>
        </div>
        {% elif request.user.user_type == "manager" %}

        {% if perms.manager.manager_user %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Managers</a>

          <div class="navbar-dropdown">
            <a href="{% url 'manager:manager:list' %}" class="navbar-item">List all managers</a>
            <a href="{% url 'manager:manager:create' %}" class="navbar-item">Create new manager</a>
            <hr class="dropdown-divider" />
            <a href="{% url 'manager:manager:archive' %}" class="navbar-item">
              Managers archive
            </a>
          </div>
        </div>
        {% endif %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Bookkeepers</a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'manager:bookkeeper:list' %}">List all bookkeepers</a>
            <a class="navbar-item" href="{% url 'manager:bookkeeper:create' %}">Create new bookkeeper</a>
            <hr class="dropdown-divider" />
            <a class="navbar-item" href="{% url 'manager:bookkeeper:archive' %}">Bookkeepers archive</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Assistants</a>

          <div class="navbar-dropdown">
            <a href="{% url 'manager:assistant:list' %}" class="navbar-item">List all assistants</a>
            <a href="{% url 'manager:assistant:create' %}" class="navbar-item">Create new assistant</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Clients</a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'manager:client:list' %}">List all clients</a>
            <a class="navbar-item" href="{% url 'manager:client:create' %}">Create new client</a>
            <a class="navbar-item" href="{% url 'manager:client_account:list' %}">Client accounts</a>
            <a class="navbar-item" href="{% url 'manager:important_contact:list' %}">Client contact</a>
            <!-- <hr class="dropdown-divider" />
            <a class="navbar-item" href="">Client report</a> -->
            <hr class="dropdown-divider" />
            <a class="navbar-item" href="{% url 'manager:client:archive' %}">Clients archive</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Company Services</a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'manager:company_services:list' %}">List all services</a>

          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Jobs
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'manager:jobs:list' %}">
              List all jobs
            </a>
            <a class="navbar-item" href="{% url 'manager:jobs:create' %}">
              Create new job
            </a>
            <a class="navbar-item" href="">
              Templates
            </a>
            <hr class="dropdown-divider" />
            <a class="navbar-item" href="{% url 'manager:jobs:archive' %}">
              Jobs archive
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Tasks
          </a>

          <div class="navbar-dropdown">
            <a href="{% url 'manager:task:list' %}" class="navbar-item">
              List all tasks
            </a>
            <a href="{% url 'manager:task:create' %}" class="navbar-item">
              Create task
            </a>
            <hr class="dropdown-divider" />
            <a href="{% url 'manager:task:archive' %}" class="navbar-item">
              Tasks archive
            </a>

          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Special Assignment
            <span title="Badge top right" class="tag mx-2 is-small is-rounded is-primary is-light">
              {{ request.user.manager.get_not_seen_special_assignments.count }}
            </span>
          </a>

          <div class="navbar-dropdown">
            <a href="{% url 'manager:special_assignment:list' %}" class="navbar-item">
              List all assignments
            </a>
            <a href="{% url 'manager:special_assignment:requested' %}" class="navbar-item">
              Requested assignments
            </a>
            <hr class="dropdown-divider" />
            <a href="{% url 'manager:special_assignment:create' %}" class="navbar-item">
              Create new assignment
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Site Settings
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'site_settings:web-app-settings' %}">
              Web App Settings
            </a>
            <!-- <a class="navbar-item" href="">
                            Update settings
                        </a> -->

          </div>
        </div>

        {% endif %}

      </div>
    </div>

    <div class="navbar-end">
      <!-- <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div> -->
      <div class="navbar-item">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">

              <span>
                <i class="fa-solid fa-user"></i>
                {{ request.user.fullname }}
                <!-- <span title="Badge top right"
       class="badge">8</span> -->
              </span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              <!-- <a href="#" class="dropdown-item">
                Profile
              </a>
              <a href="#" class="dropdown-item">
                Modifiers
              </a>
              <hr class="dropdown-divider"> -->
              <a href="{% url 'users:logout' %}" class="dropdown-item">
                Logout
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</nav>
{% endif %}
