[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-maintenance-mode = "*"
redis = "*"
hiredis = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"

[dev-packages]
pipdeptree = "*"
termcolor = "*"
prettyprinter = "*"
rich = "*"
faker = "*"
bpython = "*"
black = "*"
autopep8 = "*"
yapf = "*"
pylint = "*"
flake8 = "*"
pycodestyle = "*"
pypika = "*"
isort = "*"
django-debug-toolbar = "*"
django-extensions = "*"
coverage = "*"

[requires]
python_version = "3.10"
