autopep8==1.7.0
bandit==1.7.4
black==22.8.0
blessings==1.7
bpython==0.23
colorama==0.4.5
coverage==6.4.4
crispy-bulma==0.8.0
cryptography==38.0.1
django-debug-toolbar==3.6.0
django-extensions==3.2.1
django-filter==22.1
django-stubs==1.12.0
faker==14.2.0
flake8-polyfill==1.0.2
hiredis==2.0.0
inquirer==2.10.0
pep8==1.7.1
phone-gen==2.2.13
pillow==9.2.0
pip-chill==1.0.1
pipdeptree==2.3.1
prettyprinter==0.18.0
prettytable==3.4.1
prospector==0.12.2
psycopg2-binary==2.9.3
pylama==8.4.1
pypika==0.48.9
pytest-django==4.5.2
python-dotenv==0.21.0
redis==4.3.4
remote-pdb==2.1.0
rich==12.5.1
termcolor==2.0.0
vulture==2.5
yapf==0.32.0
