autopep8
bandit
black
blessings
bpython
colorama
coverage
crispy-bulma
cryptography
django-debug-toolbar
django-extensions
django-filter
django-stubs
faker
flake8-polyfill
hiredis
inquirer
pep8
phone-gen
pillow
pip-chill
pipdeptree
poetry-semver
prettyprinter
prettytable
prospector
psycopg2-binary
pylama
pypika
pytest-django
python-dotenv
redis
remote-pdb
rich
setoptconf-tmp
termcolor
vulture
yapf
