autopep8
bandit
black
blessings
bpython
coverage
crispy-bulma
cryptography
Django
django-betterforms
django-debug-toolbar
django-extensions
django-filter
django-stubs
djangorestframework
djlint
faker
hiredis
inquirer
markdown
mysql-connector-python
mysqlclient
pep8
phone-gen
pillow
pip-chill
pipdeptree
poetry-semver
prettyprinter
prettytable
prospector
psycopg2-binary
pydot
pygraphviz
pylama
pylint-common
pypika
pytest-django
python-dotenv
redis
remote-pdb
rich
setoptconf
termcolor
vulture
yapf
