{% extends 'core/layouts/dashboard.html' %}

{% load crispy_forms_tags %}

{% block dashboard_content %}
<section>

    <div class="box block has-ribbon">

        <form method="post" id="force-update-user-form">
            <fieldset form="force-update-user-form">
                <div class="columns is-flex is-justify-content-space-between mt-1">
                    <div class="column">
                        <legend class="title has-text-black">
                            Force change password: <i>{{ object }}</i>
                        </legend>
                    </div>
                </div>
                <div class="notification is-warning">
                    Be careful you change the password without check the old password!
                </div>
                <hr />
                {% csrf_token %}
                {{ form| crispy }}
                <div class="has-text-right">
                    <button type="submit" class="button is-info is-fullwidth">Change</button>
                </div>
            </fieldset>
        </form>
    </div>
</section>
{% endblock dashboard_content %}
