{% with tag_size|default:'is-small' as tag_size %}
  {% if status == CON_NOT_STARTED %}
    <span class="tag {{ tag_size }} is-info">{{ status_label }}</span>
  {% elif status == CON_IN_PROGRESS %}
    <span class="tag {{ tag_size }} is-warning">{{ status_label }}</span>
  {% elif status == CON_COMPLETED %}
    <span class="tag {{ tag_size }} is-success">{{ status_label }}</span>
  {% elif status == CON_COMPLETED %}
    <span class="tag {{ tag_size }} is-success">{{ status_label }}</span>
  {% elif status == CON_ARCHIVED %}
    <span class="tag {{ tag_size }} is-warning">{{ status_label }}</span>
  {% elif status == CON_NOT_COMPLETED %}
    <span class="tag {{ tag_size }} is-info">{{ status_label }}</span>
  {% elif status == "rejected" %}
    <span class="tag {{ tag_size }} is-danger is-light">{{ status_label }}</span>
  {% elif status == CON_PAST_DUE %}
    <span class="tag {{ tag_size }} is-danger">{{ status_label }}</span>
  {% elif status == CON_ENABLED %}
    <span class="tag {{ tag_size }} is-primary is-light">{{ status_label }}</span>
  {% elif status == CON_DISABLED %}
    <span class="tag {{ tag_size }} is-danger is-light">{{ status_label }}</span>
  {% elif status == CON_CANCELED %}
    <span class="tag {{ tag_size }} is-danger is-light">{{ status_label }}</span>
  {% elif status == CON_PENDING %}
    <span class="tag {{ tag_size }} is-warning is-light">{{ status_label }}</span>
  {% elif status == CON_DRAFT %}
    <span class="tag {{ tag_size }} is-link">{{ status_label }}</span>
  {% else %}
    <span class="tag bk-tag {{ tag_size }}">{{ status_label }}</span>
  {% endif %}
{% endwith %}
{% comment %}
{% firstof "is-medium" as tag_size %}
{% endcomment %}
