{% extends 'core/layouts/dashboard.html' %}
{% load crispy_forms_tags %}


{% block dashboard_content %}

    <section id="manager-create-user-form">
        <form method="post" id="create-user-form">
{% csrf_token %}
            <legend class="title has-text-black">
                Create new client
            </legend>
            <fieldset form="create-user-form">
                {{ form| crispy }}
                <div class="has-text-right">
                    <button type="submit" class="button is-info is-fullwidth">
                        Create <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </button>
                </div>
            </fieldset>

        </form>
    </section>

{% endblock dashboard_content %}
