{% extends 'core/layouts/dashboard.html' %}
{% load static %}


{% block dashboard_content %}

    <section id="manager-clients-list">
        <header>
            <h3 class="title is-3">
            Client Account <a class="button is-primary mx-2"
    href="{% url 'manager:client_account:create' %}">
                <i class="fa-solid fa-plus"></i>
            </a>
        </h3>
    </header>
    <hr />
    <div class="box">
        {% if object_list.count > 0 %}
            <table class="table is-fullwidth table-100" id="managerClientAccountTable">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Account Name</th>
                        <th>Account Email</th>
                        <th>URL</th>
                        <th>Account Username</th>
                        <th>Account Password</th>
                        <th>Last Modified Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Client</th>
                        <th>Account Name</th>
                        <th>Account Email</th>
                        <th>URL</th>
                        <th>Account Username</th>
                        <th>Account Password</th>
                        <th>Last Modified Date</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>

                    {% for object in object_list %}
                        <tr>
                            <td>
                              <a href="{% url 'manager:client:details' object.client.pk %}" target="_blank">
                                {{ object.client }} <i class="fas fa-external-link-alt is-small"></i>
                              </a>
                            </td>
                            <td>{{ object.account_name }}</td>
                            <td>{{ object.account_email }}</td>
                            <td>{{ object.account_url }}</td>
                            <td>{{ object.account_username }}</td>
                            <td>

                                <div class="field has-addons">
                                    <div class="control">
                                        <input class="input is-small"
                                               type="password"
                                               value="{{ object.account_password }}"/>
                                    </div>
                                    <div class="control">
                                        <button type="button" class="button is-small">
                                            <i class="fa-solid fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>{{ object.last_modified_date }}</td>
                            <td>
                                <div class="buttons are-small">
                                    <a href="" class="button is-info is-light">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    <a href="" class="button is-success is-light">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                    <a href="" class="button is-danger is-light">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        {% else %}
            <div class="notification is-warning">
                <!-- <button class="delete"></button> -->
            No client(s)
                <a class="is-primary is-inverted is-hoverable is-hovered mx-1"
                   href="{% url 'manager:client_account:create' %}">
                Create new client account
                </a>
            </div>
        {% endif %}
    </div>

{% endblock dashboard_content %}

{% block externaljs %}
    <script src="{% static 'js/manager/client/list.js' %}" defer type="module"></script>
{% endblock externaljs %}
