{% extends 'core/layouts/dashboard.html' %}
{% load crispy_forms_tags %}


{% block dashboard_content %}

<section id="manager-update-client-account-form">
  <div class="box">

    <form method="post" id="update-client-account-form">
      {% csrf_token %}
      <legend class="title has-text-black">Update client account</legend>

      <div class="columns is-flex">
        <div class="column is-2">
          <h6 class="title is-size-6">
            Last modified date:
          </h6>
        </div>
        <div class="column">
          {{ object.last_modified_date }}
        </div>
      </div>
      <hr>
      <fieldset form="update-client-account-form">
        {{form| crispy}}
        <div class="block" style="word-wrap: break-word;">
          <span class="is-size-6 is-inline-block">
            Current Password:
          </span>
          <h6 class="is-size-7 is-family-code has-text-weight-semibold">
            {{ object.decrypted_account_password }}
          </h6>
        </div>
        <div class="has-text-right">
          <button type="submit" class="button is-info
                        is-fullwidth">Update</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>

{% endblock dashboard_content %}
