{% extends 'components/core/table_list_layout.html' %}
{% block table_content_block %}
<table class="table is-fullwidth is-striped is-hoverable is-fullwidth" id="tasksTableComponent">
  <thead>
    <tr>
      <th>Title</th>
      <th>Job</th>
      <th>Type</th>
      <th>Status</th>
      <th>Start Date</th>
      <th>Due Date</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for task_object in tasks_list %}
    <tr>

      <td data-label="Title">
        <a href="{% url 'manager:task:update' task_object.pk %}">
          {{ task_object.title|truncatechars:15 }}
        </a>
      </td>
      <td data-label="Job">
        <a href="">
          {{ task_object.job|truncatechars:40 }} <i class="fas fa-external-link-alt is-small"></i>
        </a>
      </td>
      <td data-label="Type">
        {{ task_object.get_task_type_display }}
      </td>
      <td data-label="Status" class="is-progress-cell">
        {% include 'components/core/status_tag.html' with status=task_object.task_status tag_size="is-small" status_label=task_object.get_task_status_display %}
      </td>
      <td data-label="Start Date">
        <small class="has-text-grey is-abbr-like"
          title="{{ task_object.start_date|date }}">{{ task_object.start_date|date }}</small>
      </td>
      <td data-label="Due Date">
        <small class="has-text-grey is-abbr-like"
          title="{{ task_object.due_date|date }}">{{ task_object.due_date|date }}</small>
      </td>
      <td data-label="Created">
        {% include 'components/core/table_cell_created.html' with created_at=task_object.created_at user_type=request.user.user_type %}
      </td>
      <td class="is-actions-cell">
        {% include 'components/core/table_cell_actions.html' with object_pk=task_object.pk user_type=request.user.user_type app_name="task" %}
      </td>
    </tr>
    {% empty %}
    <tr class="is-empty">
      <td colspan="7">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p><span class="icon is-large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span></p>
            <p>Nothing's there&hellip;</p>
          </div>
        </section>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock table_content_block %}
