{% extends 'core/layouts/dashboard.html' %}
{% load static %}


{% block title %}
    Delete {{ object }}
{% endblock title %}
    

{% block dashboard_content %}

<section id="manager-important-contact-delete">
    <header>
        <h3 class="title is-3">
            Delete Contact {{ object }}
        </h3>
    </header>
    <hr />
    <div class="box ">
        <form method="POST">
            {% csrf_token %}
            <p>Are you sure you want to delete contact <span class="has-text-weight-bold">"{{ object }}"</span>?</p>
            <div class="buttons mt-5 has-text-right">
                <button type="submit" class="button is-danger">Delete</button>
                <a href="{% url 'manager:important_contact:list' %}" class="button">Cancel</a>
            </div>
        </form>

    </div>

    {% endblock dashboard_content %}
