{% extends 'components/core/table_list/table_list_layout.html' %}

{% load url_helpers %}

{% block table_content_block %}
  <div class="table-container">
    <table class="table sortable is-fullwidth is-striped is-hoverable is-fullwidth table-list-comp"
           id="clientsTableComponent">
      <thead>
        <tr>
          <th>Name</th>
          {% if is_show_managed_by is True %}<th>Managed By</th>{% endif %}
          <th>Industry</th>
          <th>Contacts</th>
          <th>Jobs</th>
          <th>Tasks</th>
          <th>Assignments</th>
          <th>Status</th>
          {% if is_show_created_at is True %}<th>Created</th>{% endif %}
          <th class="no-sort"></th>
        </tr>
      </thead>
      <tbody>
        {% for client_object in object_list %}
          <tr>
            <td data-label="Name">
              <a href="{% fetch_url_by_name_pk details_url=details_url object_pk=client_object.pk %}">{{ client_object.name }}</a>
            </td>
            {% if is_show_managed_by is True %}
              <td data-label="Managed By">
                <div class="scrollable">
                  {% for bookkeeper in client_object.bookkeepers.all %}
                    {% if request.user.user_type == "bookkeeper" %}
                      <a href="" class="disabledAnchorElement">{{ bookkeeper }}</a>
                    {% else %}
                      <a href="{% fetch_user_details_url base_user=user_type user_object=bookkeeper.user %}">{{ bookkeeper }}</a>
                    {% endif %}
                    <br />
                  {% empty %}

                    {% include "components/core/red_text.html" with text="No staff member for this client" %}

                  {% endfor %}
                </div>
              </td>
            {% endif %}
            <td data-label="Industry">{{ client_object.industry|truncatechars:DEFAULT_TEMPLATE_TABLE_LIST_TRUNCATED_STRING }}</td>
            <td data-label="Contacts">
              <div class="scrollable">
                {% for contact in client_object.important_contacts.all %}
                  <a href="{% fetch_app_url_for_user app_name='important_contact' path_name='update' object_pk=contact.pk %}"
                     target="_blank">{{ contact }}</a>
                  <br />
                {% empty %}

                  {% include "components/core/red_text.html" with text="No contacts" %}

                {% endfor %}
              </div>
            </td>
            <td data-label="Jobs">{{ client_object.jobs.count }}</td>
            <td data-label="Tasks">{{ client_object.get_total_tasks_for_all_jobs }}</td>
            <td data-label="Assignments">{{ client_object.special_assignments.count }}</td>
            <td data-label="Status">

              {% include "components/core/table_list/status_tag.html" with status=client_object.status tag_size="is-small" status_label=client_object.get_status_display %}

            </td>
            {% if is_show_created_at is True %}
              <td data-label="Created"
                  data-sort="{{ client_object.created_at|date:"Ymd" }}">

                {% include "components/core/table_list/table_cell_created.html" with created_at=client_object.created_at user_type=user_type %}

              </td>
            {% endif %}
            <td class="is-actions-cell">

              {% include "components/core/table_list/table_cell_actions.html" with object_pk=client_object.pk user_type=user_type details_url=details_url action_urls_pattern=action_urls_pattern enabled_action_btns=enabled_action_btns is_enabled=True perms=perms app_name=app_name %}

            </td>
          </tr>
        {% empty %}
          <tr class="is-empty">
            <td colspan="9">
              <section class="section">
                <div class="content has-text-grey has-text-centered">
                  <p>
                    <span class="icon is-large">
                      <i class="fa-solid fa-face-meh fa-3x"></i>
                    </span>
                  </p>
                  <p>Nothing's there&hellip;</p>
                </div>
              </section>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock table_content_block %}
