{% extends "core/layouts/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block externalcss %}
<link rel="stylesheet" href="{% static 'css/manager/bookkeeper/details.css' %}" />
{% endblock externalcss %}

{% block dashboard_content %}

<section id="manager-bookkeepers-details">
    <header>
        <h3 class="title is-3"></h3>
    </header>
    <hr />
    <div class="box">
        <div class="columns">
            <div class="container profile">
                <div class="modal" id="edit-preferences-modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Edit Preferences</p>
                            <button class="delete"></button>
                        </header>
                        <section class="modal-card-body">
                            <div class="field">
                                <label class="label">First Name</label>
                                <p class="control">
                                    <input class="input" value="{{ object.user.first_name }}" placeholder="Text input"
                                        type="text" />
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Last Name</label>
                                <p class="control has-icon has-icon-right">
                                    <input class="input" placeholder="Text input" value="{{ object.user.last_name }}"
                                        type="text" />
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Email</label>
                                <p class="control has-icon has-icon-right">
                                    <input class="input" placeholder="Email input" type="email"
                                        value="{{ object.user.email }}" />
                                    <!-- <i class="fa fa-warning"></i>
                                    <span class="help is-danger">This email is invalid</span> -->
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Date of Birth</label>
                                <div class="control">
                                    <span class="select">
                                        <select>
                                            <option>
                                                Month
                                            </option>
                                            <option>
                                                With options
                                            </option>
                                        </select>
                                    </span>
                                    <span class="select">
                                        <select>
                                            <option>
                                                Day
                                            </option>
                                            <option>
                                                With options
                                            </option>
                                        </select>
                                    </span>
                                    <span class="select">
                                        <select>
                                            <option>
                                                Year
                                            </option>
                                            <option>
                                                With options
                                            </option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Bio</label>
                                <p class="control">
                                    <textarea class="textarea"
                                        placeholder="Describe Yourself!">{{object.bio}}</textarea>
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Phone Number</label>
                                <p class="control has-icon has-icon-right">
                                    <input class="input" placeholder="Text input" type="text" value="+1 *** *** 0535" />
                                </p>
                            </div>


                        </section>
                        <footer class="modal-card-foot">
                            <a class="button is-primary modal-save">Save changes</a>
                            <a class="button modal-cancel">Cancel</a>
                        </footer>
                    </div>
                </div>
                <div class="section profile-heading">
                    <div class="columns is-mobile is-multiline">
                        <div class="column is-2">
                            <span class="header-icon user-profile-image">
                                {% comment %} <img alt="" src="http://placehold.it/300x225" /> {% endcomment %}

                                {% if object.profile_picture %}
                                <img src="{{ object.profile_picture.url }}" alt="{{ object.user.fullname }}" />
                                {% else %}
                                <img src="{% static 'imgs/avatar.jpg' %}" alt="{{ object.user.fullname }}" />
                                {% endif %}
                            </span>
                        </div>
                        <div class="column is-4-tablet is-10-mobile name">
                            <p>
                                <span class="title is-bold">{{ object.user.fullname }}</span>
                                <br />

                                <br />
                            </p>
                            <p class="tagline">

                                <a class="button is-primary is-outlined" href="#" id="edit-preferences"
                                    style="margin: 5px 0">Preferences</a>

                            </p>
                        </div>
                        <div class="column is-2-tablet is-4-mobile has-text-centered">
                            <p class="stat-val">{{ object.jobs.count }}</p>
                            <p class="stat-key">Jobs</p>
                        </div>
                        <div class="column is-2-tablet is-4-mobile has-text-centered">
                            <p class="stat-val">{{ object.get_tasks_count }}</p>
                            <p class="stat-key">Tasks</p>
                        </div>
                        <div class="column is-2-tablet is-4-mobile has-text-centered">
                            <p class="stat-val">{{ object.clients.count }}</p>
                            <p class="stat-key">Clients</p>
                        </div>
                    </div>
                </div>
                <div class="profile-options is-fullwidth">
                    <div class="tabs is-toggle is-fullwidth" id="tabs">
                        <ul>
                            <li class="is-active" data-tab="1">
                                <a>
                                    <span class="icon is-small"><i class="fa-solid fa-list"></i></span>
                                    <span>Jobs</span>
                                </a>
                            </li>
                            <li data-tab="2">
                                <a>
                                    <span class="icon is-small"><i class="fa-solid fa-users"></i></span>
                                    <span>Clients</span>
                                </a>
                            </li>
                            <li data-tab="3">
                                <a>
                                    <span class="icon is-small"><i class="fa-solid fa-solid fa-key"></i></span>
                                    <span>Accounts & Services</span>
                                </a>
                            </li>
                            <li data-tab="4">
                                <a>
                                    <span class="icon is-small"><i class="fa-sharp fa-solid fa-notes"></i></span>
                                    <span>Notes</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div id="tab-content">
                        <section class="is-active" data-content="1">
                            {% if object.jobs.count > 0 %}
                            <!-- Start jobs table -->
                            <table class="table is-fullwidth table-100" id="managerClientsJobsTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Account Name</th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Tasks
                                        </th>
                                        <th>
                                            Created Date
                                        </th>
                                        <!-- <th>Due Date</th> -->
                                        <!-- <th></th> -->
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Account Name
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Tasks
                                        </th>
                                        <th>
                                            Start Date
                                        </th>
                                        <!-- <th>Due Date</th> -->
                                        <!-- <th></th> -->
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for job in object.jobs.all %}

                                    <tr>
                                        <td>
                                            <a href="">
                                                {{ job.title }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ job.client.name }}
                                        </td>
                                        <td>
                                            {{ job.get_status_display }}
                                        </td>
                                        <td>
                                            {{ job.get_job_type_display }}
                                        </td>
                                        <td>
                                            {{ job.tasks.count }}
                                        </td>
                                        <td>
                                            {{ job.created_at }}
                                        </td>
                                        <!-- <td>Mon Mar 20 2023</td> -->
                                        <!-- <td>
                                            <a href="" class="button is-small has-tooltip-arrow" data-tooltip="View client">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                        </td> -->
                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                            <!-- End jobs table -->

                            {% else %}
                            <div class="notification is-warning">
                                <!-- <button class="delete"></button> -->
                                No Jobs <a class="is-primary is-inverted is-hoverable is-hovered mx-1"
                                    id="addNewJobBtn">Create new job</a>
                            </div>
                            {% endif  %}
                        </section>
                        <section data-content="2">
                            <div id="clientsTabWrapper">

                                {% if object.clients.count > 0 %}
                                <table class="table is-fullwidth table-100" id="managerClientsTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Account Name
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Username
                                            </th>
                                            <th>
                                                Password
                                            </th>
                                            <!-- <th></th> -->
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Account Name
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Username
                                            </th>
                                            <th>
                                                Password
                                            </th>
                                            <!-- <th></th> -->
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for client in object.clients.all %}
                                        <tr>
                                            <td>
                                                {{ client.name }}
                                            </td>
                                            <td>
                                                {{ client.client_account.account_name }}
                                            </td>
                                            <td>
                                                {{ client.client_account.account_email }}
                                            </td>
                                            <td>
                                                {{ client.client_account.account_username }}
                                            </td>
                                            <td>
                                                {{ client.client_account.account_password }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <div class="notification is-warning">
                                    <!-- <button class="delete"></button> -->
                                    No clients <a class="is-primary is-inverted is-hoverable is-hovered mx-1"
                                        id="addNewClientBtn">Create new client</a>
                                </div>
                                {% endif %}

                            </div>
                        </section>
                        <section data-content="3">

                            <div id="accountsAndServicesTabWrapper">

                                
                                <table class="table is-fullwidth table-100" id="managerTasksTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                Title
                                            </th>
                                            <th>
                                                Hint
                                            </th>
                                            <th>
                                                Client
                                            </th>
                                            <th>
                                                Job
                                            </th>
                                            <th>
                                                Start Date
                                            </th>
                                            <th>
                                                Due Date
                                            </th>
                                            <th class="has-text-centered">
                                                Completed
                                            </th>
                                            <!-- <th></th> -->
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                Title
                                            </th>
                                            <th>
                                                Hint
                                            </th>
                                            <th>
                                                Client
                                            </th>
                                            <th>
                                                Job
                                            </th>
                                            <th>
                                                Start Date
                                            </th>
                                            <th>
                                                Due Date
                                            </th>
                                            <th class="has-text-centered">
                                                Completed
                                            </th>
                                            <!-- <th></th> -->
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        

                                       
                                    </tbody>
                                </table>
                                

                            </div>
                        </section>

                        <section data-content="4">
                            Notes
                        </section>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<!-- Start Jobs Form -->
{% include 'manager/bookkeeper/segments/create_job_modal.html' with object=object %}
<!-- End Jobs Form -->

<!-- Start Client Form -->
{% include 'manager/bookkeeper/segments/create_client_modal.html' with object=object %}
<!-- End Client Form -->


{% endblock dashboard_content %}


{% block externaljs %}
<script src="{% static 'js/manager/bookkeeper/details.js' %}" defer type="module"></script>
{% endblock externaljs %}