{% extends 'core/layouts/dashboard.html' %}
{% load static %}


{% block dashboard_content %}

    <section id="manager-bookkeepers-list">
        <header>
            <h3 class="title is-3">
                        Bookkeepers <a class="button is-primary mx-2"
    href="{% url 'manager:users:create' %}">
                <i class="fa-solid fa-plus"></i>
            </a>
        </h3>
    </header>
    <hr />
    <div class="box">
        {% if object_list.count > 0 %}
            <table class="table is-fullwidth table-100" id="managerBookkeepersTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Client(s) Count</th>
                        <th>Task(s) Count</th>
                        <th>Active</th>
                        <th>Status</th>
                        <th>Slug</th>
                        <th>Created AT</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Client(s) Count</th>
                        <th>Task(s) Count</th>
                        <th>Active</th>
                        <th>Status</th>
                        <th>Slug</th>
                        <th>Created AT</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
 
                    {% for object in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'manager:bookkeeper:details' object.slug %}">{{ object.user.fullname }}</a>
                            </td>
                            <td class="has-text-centered">{{ object.clients.count }}</td>
                            <td class="has-text-centered">{{ object.get_tasks_count }}</td>
                            <td>{{ object.is_active_labeled }}</td>
                            <td>{{ object.status|title }}</td>
                            <td>{{ object.slug }}</td>
                            <td>{{ object.created_at|date:"SHORT_DATE_FORMAT" }}</td>
                            <td>
                                <div class="buttons are-small">
                                    <a href="{% url 'manager:bookkeeper:details' object.slug %}"
                                       class="button is-success is-light">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                    <a href="{% url 'manager:bookkeeper:delete' object.slug %}"
                                       class="button is-danger is-light">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
 
                </tbody>
            </table>
        {% else %}
            <div class="notification is-warning">
                <!-- <button class="delete"></button> -->
            No bookkeeper(s)
                <a class="is-primary is-inverted is-hoverable is-hovered mx-1"
                   href="{% url 'manager:users:create' %}">
                Create new bookkeeper
                </a>
            </div>
        {% endif %}
    </div>

{% endblock dashboard_content %}

{% block externaljs %}
    <script src="{% static 'js/manager/bookkeeper/list.js' %}" defer type="module"></script>
{% endblock externaljs %}
