{% extends 'core/layouts/dashboard.html' %}
{% load static %}

{% block dashboard_content %}
{% if object_list.count > 0 %}
<!-- Start jobs table -->
<table class="table is-fullwidth" id="tasksTable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Job</th>
            <th>Task Type</th>
            <th>Task Status</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Job</th>
            <th>Task Type</th>
            <th>Task Status</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        <!-- has-background-danger-light,  has-background-success-light   -->
        {% for object in object_list %}

        <tr>
            <td>
                <a href="{% url 'bookkeeper:tasks:details' object.pk %}">
                    {{ object.title }}
                </a>
            </td>
            <td>
                <a href="">{{ object.job }}</a>
            </td>
            <td>
                {{ object.get_task_type_display }}
            </td>
            <td>
                {{ object.get_task_status_display }}
            </td>
            <td>
                {{ object.start_date|date }}
            </td>
            <td>
                {{ object.due_date|date }}
            </td>
            <td>
                <a href="{% url 'bookkeeper:tasks:details' object.pk %}" class="button is-small has-tooltip-arrow" data-tooltip="View task">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </td>
        </tr>
        {% endfor %}



    </tbody>
</table>
<!-- End jobs table -->
{% else %}
<div class="notification">
    You have no tasks
</div>
{% endif %}

{% endblock dashboard_content %}
{% block externaljs %}
<script src="{% static 'js/bookkeeper/dashboard/tasks_list.js' %}" defer type="module"></script>
{% endblock externaljs %}
