{% extends "components/core/table_list/table_list_layout.html" %}

{% load url_helpers %}

{% block table_content_block %}
  <div class="table-container">
    <table class="table sortable is-fullwidth is-striped is-hoverable is-fullwidth table-list-comp"
           id="jobsCategoriesTableComponent">
      <thead>
        <tr>
          <th>Name</th>
          <th>Jobs Count</th>

          {% if is_show_created_at is True %}<th>Created</th>{% endif %}
          <th class="no-sort"></th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr class="{{ row_color }}" title="{{ tooltip_txt }}">
            <td data-label="Name">
              <a href="{% fetch_app_url_for_user app_name='jobs:category' path_name='update' object_pk=object.pk %}">{{ object.name|truncatechars:DEFAULT_TEMPLATE_TABLE_LIST_TRUNCATED_STRING }}</a>
            </td>
            
            <td data-label="Jobs Count">
              {{ object.jobs.count }}
            </td>

            {% if is_show_created_at is True %}
              <td data-label="Created"
                  data-sort="{{ object.created_at|date:"Ymd" }}">

                {% include "components/core/table_list/table_cell_created.html" with created_at=object.created_at user_type=user_type %}

              </td>
            {% endif %}
            <td class="is-actions-cell">

              {% include "components/core/table_list/table_cell_actions.html" with object_pk=object.pk user_type=user_type details_url=details_url action_urls_pattern=action_urls_pattern enabled_action_btns=enabled_action_btns is_enabled=True perms=perms app_name=app_name %}

            </td>
          </tr>
        {% empty %}
          <tr class="is-empty">
            <td colspan="8">
              <section class="section">
                <div class="content has-text-grey has-text-centered">
                  <p>
                    <span class="icon is-large"><i class="fa-solid fa-face-meh fa-3x"></i></span>
                  </p>
                  <p>Nothing's there&hellip;</p>
                </div>
              </section>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock table_content_block %}
