{% extends 'components/core/table_list_layout.html' %}
{% block table_content_block %}
<table class="table is-fullwidth is-striped is-hoverable is-fullwidth" id="contactsTableComponent">
  <thead>
    <tr>
      <th>Label</th>
      <th>Full Name</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for contact_object in contacts_list %}
    <tr>

      <td data-label="Label">
        <span class="tag is-medium has-text-weight-bold">{{ contact_object.get_contact_label_display }}</span>
      </td>
      <td data-label="Full Name">
        {{ contact_object.contact_fullname }}
      </td>
      <td data-label="Created">

        {% include 'components/core/table_cell_created.html' with created_at=contact_object.created_at user_type=request.user.user_type %}
      </td>
      <td class="is-actions-cell">
        {% include 'components/core/table_cell_actions.html' with object_pk=contact_object.pk user_type=request.user.user_type app_name="important_contact" %}
      </td>
    </tr>
    {% empty %}
    <tr class="is-empty">
      <td colspan="4">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p><span class="icon is-large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span></p>
            <p>Nothing's there&hellip;</p>
          </div>
        </section>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock table_content_block %}
