{% extends "core/layouts/dashboard.html" %}
{% load static %}
{% block dashboard_content %}
    <h3 class="title is-3">Clients</h3>
    <!-- Start jobs table -->
    <table class="table is-fullwidth" id="clientsJobsTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Jobs</th>
                <th>Tasks</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Jobs</th>
                <th>Tasks</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <a href="">Maurice Beier</a>
                </td>
                <td>
                    Ricardo_Ledner66@yahoo.com
                </td>
                <td>4</td>
                <td>22</td>
                <td>Mon Mar 14 2022</td>
                <td>Mon Mar 20 2023</td>
                <td>
                    <a href="" class="button is-small has-tooltip-arrow" data-tooltip="View client">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </td>
            </tr>
            <tr class="has-background-danger-light">
                <td>3</td>
                <td>
                    <a href="">Owen Roob</a>
                </td>
                <td>
                    Kathleen.Mayer@hotmail.com
                </td>
                <td>2</td>
                <td>22</td>
                <td>Mon Mar 14 2022</td>
                <td>Mon Mar 20 2023</td>
                <td>
                    <a href="" class="button is-small has-tooltip-arrow" data-tooltip="View client">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <a href="">Latoya Kiehn</a>
                </td>
                <td>
                    Anissa.Schmidt@hotmail.com
                </td>
                <td>3</td>
                <td>5</td>
                <td>Mon Mar 14 2022</td>
                <td>Mon Mar 20 2023</td>
                <td>
                    <a href="" class="button is-small has-tooltip-arrow" data-tooltip="View client">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </td>
            </tr>
            <tr class="has-background-success-light">
                <td>4</td>
                <td>
                    <a href="">Phil Hirthe</a>
                </td>
                <td>
                    Mohammad61@yahoo.com
                </td>
                <td>8</td>
                <td>5</td>
                <td>Mon Mar 14 2022</td>
                <td>Mon Mar 20 2023</td>
                <td>
                    <a href="" class="button is-small has-tooltip-arrow" data-tooltip="View client">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End jobs table -->
{% endblock dashboard_content %}
{% block externaljs %}
    <script src="{% static 'js/bookkeeper/dashboard/client_list.js' %}" defer type="module"></script>
{% endblock externaljs %}
