{% extends 'core/layouts/dashboard.html' %}



{% block dashboard_content %}
<h3 class="title is-3">Clients</h3>
<div class="columns">
    <div class="column">
        <div class="list">
            <div class="list-item box">
                <div class="list-item-content">
                    <div class="list-item-title">
                        <a href="" class="has-text-dark">Client Name</a>
                    </div>
                    <div class="list-item-description">Client Name description</div>
                </div>
            </div>

            <div class="list-item box">
                <div class="list-item-content">
                    <div class="list-item-title">
                        <a href="" class="has-text-dark">Client Name</a>
                    </div>
                    <div class="list-item-description">Client Name description</div>
                </div>
            </div>

            <div class="list-item box">
                <div class="list-item-content">
                    <div class="list-item-title">
                        <a href="" class="has-text-dark">Client Name</a>
                    </div>
                    <div class="list-item-description">Client Name description</div>
                </div>
            </div>

            <div class="list-item box">
                <div class="list-item-content">
                    <div class="list-item-title">
                        <a href="" class="has-text-dark">Client Name</a>
                    </div>
                    <div class="list-item-description">Client Name description</div>
                </div>
            </div>

            <div class="list-item box">
                <div class="list-item-content">
                    <div class="list-item-title">
                        <a href="" class="has-text-dark">Client Name</a>
                    </div>
                    <div class="list-item-description">Client Name description</div>
                </div>
            </div>
            <div class="list-item box">
                <div class="list-item-content">
                    <div class="list-item-title">
                        <a href="" class="has-text-dark">Client Name</a>
                    </div>
                    <div class="list-item-description">Client Name description</div>
                </div>
            </div>
            <div class="list-item box">
                <div class="list-item-content">
                    <div class="list-item-title">
                        <a href="" class="has-text-dark">Client Name</a>
                    </div>
                    <div class="list-item-description">Client Name description</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Pagination -->
<div class="columns">
    <div class="column">
        <div class="box mt-5">
            <nav class="pagination is-centered" role="navigation"
                aria-label="pagination">
                <a class="pagination-previous">Previous</a>
                <a class="pagination-next">Next page</a>
                <ul class="pagination-list">
                    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                    <li><a class="pagination-link is-current" aria-label="Page
                            46"
                            aria-current="page">46</a></li>
                    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- End Pagination -->
{% endblock dashboard_content %}
