{% extends 'components/core/table_list/table_list_layout.html' %}
{% load url_helpers %}
{% block table_content_block %}

{% if enable_create_btn == True %}
  {% include 'components/core/table_list/create_btn.html' with btn_id="addJobBtn" app_name="job" %}
{% endif %}
<table class="table is-fullwidth is-striped is-hoverable is-fullwidth" id="jobsTableComponent">
  <thead>
    <tr>
      <th>Title</th>
      <th>Manager</th>
      <th>Task(s)</th>
      <th>Type</th>
      <th>Status</th>
      <th>Due Date</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for job_object in object_list %}
    <tr>

      <td data-label="Title">

        <a
          href="{% fetch_app_url_for_user app_name='jobs' path_name='details' object_pk=job_object.pk %}">
          {{ job_object.title|truncatechars:40 }}
        </a>
      </td>
      <td data-label="Manager">
        {% for bookkeeper in job_object.get_all_assigned_users %}
        <a href="{% fetch_user_details_url base_user=user_type user_object=bookkeeper.user %}" target="_blank"
          class="is-block has-text-justified">{{ bookkeeper }}</a>
        {% empty %}
        {% include 'components/core/red_text.html' with text="No bookkeeper for this job" only %}
        {% endfor %}
      </td>
      <td data-label="Task(s)">
        {{ job_object.tasks.count }}
      </td>
      <td data-label="Type">
        <span class="tag">{{ job_object.get_job_type_display }}</span>
      </td>
      <td data-label="Status" class="is-progress-cell">
        {% include 'components/core/table_list/status_tag.html' with status=job_object.status tag_size="is-small" status_label=job_object.get_status_display %}
      </td>
      <td data-label="Due Date">
        <small class="has-text-grey is-abbr-like"
          title="{{ job_object.due_date|date }}">{{ job_object.due_date|date }}</small>
      </td>
      <td data-label="Created">
        {% include 'components/core/table_list/table_cell_created.html' with created_at=job_object.created_at user_type=user_type %}
      </td>
      <td class="is-actions-cell">
        {% include 'components/core/table_list/table_cell_actions.html' with object_pk=job_object.pk user_type=user_type details_url=details_url action_urls_pattern=action_urls_pattern enabled_action_btns=enabled_action_btns is_enabled=True only %}
      </td>
    </tr>
    {% empty %}
    <tr class="is-empty">
      <td colspan="8">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p><span class="icon is-large"><i class="fa-solid fa-face-meh fa-3x"></i></span></p>
            <p>Nothing's there&hellip;</p>
          </div>
        </section>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock table_content_block %}
