{% extends "core/layouts/dashboard.html" %}
{% load static %}
{% block dashboard_content %}
<h3 class="title is-3">Jobs</h3>

{% if object_list.count > 0 %}
<!-- Start jobs table -->
<table class="table is-fullwidth" id="jobsTable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Client</th>
            <th>Job Type</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Title</th>
            <th>Client</th>
            <th>Job Type</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        <!-- has-background-danger-light,  has-background-success-light   -->
        {% for object in object_list %}

        <tr>
            <td>
                <a href="{% url 'bookkeeper:job:details' object.pk %}">
                    {{ object.title }}
                </a>
            </td>
            <td>
               <a href="{% url 'bookkeeper:client:details' object.client.pk %}">{{ object.client }}</a>
            </td>
            <td>
                {{ object.get_job_type_display }}
            </td>
            <td>
                {{ object.get_status_display }}
            </td>
            <td>Mon Mar 14 2022</td>
            <td>Mon Mar 20 2023</td>
            <td>
                <a href="{% url 'bookkeeper:client:details' object.pk %}" class="button is-small has-tooltip-arrow" data-tooltip="View client">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </td>
        </tr>
        {% endfor %}



    </tbody>
</table>
<!-- End jobs table -->
{% else %}
<div class="notification">
    You have no jobs
</div>
{% endif %}



{% endblock dashboard_content %}
{% block externaljs %}
<script src="{% static 'js/bookkeeper/dashboard/jobs_list.js' %}" defer type="module"></script>
{% endblock externaljs %}
