{% extends 'components/core/table_list_layout.html' %}
{% block table_content_block %}
<table class="table is-fullwidth is-striped is-hoverable is-fullwidth" id="specialAssignmentsTableComponent">
  <thead>
    <tr>
      <th>Title</th>
      <th>Client</th>
      <th>Manager</th>
      <th>Assigned by</th>
      <th>Reply(s)</th>
      <th>Status</th>
      <th>Seen</th>
      <th>Start Date</th>
      <th>Due Date</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for assignment_object in assignments_list %}
    <tr>

      <td data-label="Title">
        <a href="">
          {{ assignment_object.title|truncatechars:20 }}
        </a>
      </td>
      <td data-label="Client">
        <a href="{% url 'manager:client:details' assignment_object.client.pk %}" target="_blank">
          {{ assignment_object.client.name }} <i class="fas fa-external-link-alt is-small"></i>
        </a>
      </td>
      <td data-label="Manager">

        {% comment %}
        {% include 'components/core/get_user_type_link.html' with user_object=assignment_object.get_managed_user user_type=assignment_object.get_user_type %}
        {% endcomment %}


        {% if assignment_object.get_user_type == "manager" %}
        <a target="_blank" href="#">
          {{ assignment_object.get_managed_user }}
        </a>
        {% elif assignment_object.get_user_type == "bookkeeper" %}
        <a href="{% url 'manager:bookkeeper:details' assignment_object.get_managed_user.pk %}" target="_blank">
          {{ assignment_object.get_managed_user }}
        </a>

        {% elif assignment_object.get_user_type == "assistant" %}
        <a target="_blank" href="#">
          {{ assignment_object.get_managed_user }}
        </a>
        {% endif %}

      </td>
      <td data-label="Assigned by">
        {% include 'components/core/get_user_type_link.html' with user_object=assignment_object.assigned_by user_type=assignment_object.assigned_by.user_type %}

      </td>
      <td data-label="Reply(s)">
        {{ assignment_object.discussions.count }}
      </td>
      <td data-label="Status">
        {% include 'components/core/status_tag.html' with status=assignment_object.status tag_size="is-small" status_label=assignment_object.get_status_display %}
      </td>
      <td data-label="Seen">
        {% include 'components/core/is_seen.html' with is_seen=assignment_object.is_seen %}

      </td>
      <td data-label="Start Date">
        {{ assignment_object.start_date|date }}
      </td>
      <td data-label="Due Date">
        {{ assignment_object.due_date|date }}
      </td>
      <td data-label="Created">

        {% include 'components/core/table_cell_created.html' with created_at=assignment_object.created_at user_type=request.user.user_type %}
      </td>
      <td class="is-actions-cell">
        {% include 'components/core/table_cell_actions.html' with object_pk=assignment_object.pk user_type=request.user.user_type app_name="special_assignment" %}
      </td>
    </tr>
    {% empty %}
    <tr class="is-empty">
      <td colspan="11">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p><span class="icon is-large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span></p>
            <p>Nothing's there&hellip;</p>
          </div>
        </section>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock table_content_block %}
