{% extends 'core/layouts/dashboard.html' %}
{% load static %}

{% block dashboard_content %}
<section class="box">
    <header>
        <h3 class="title is-3">
            Special assignments <a class="button is-primary mx-2" href="{% url 'manager:special_assignment:create' %}">
                <i class="fa-solid fa-plus"></i>
            </a>
        </h3>
    </header>
    <hr />
    {% if object_list.count > 0 %}
    <!-- Start jobs table -->
    <table class="table is-fullwidth is-bordered is-striped is-narrow table-list-component" id="specialAssignmentsTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Client</th>
                <th>Manager</th>
                <th>Status</th>
                <th>Seen</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Title</th>
                <th>Client</th>
                <th>Manager</th>
                <th>Status</th>
                <th>Seen</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            <!-- has-background-danger-light,  has-background-success-light   -->
            {% for object in object_list %}
    
            <tr>
                <td>
                    <a href="{% url 'manager:special_assignment:update' object.pk %}">
                        {{ object.title }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'manager:client:details' object.client.pk %}" target="_blank">
                        {{ object.client.name }}
                    </a>
                </td>
                <td>
                    {{ object.get_managed_user }}
                </td>
                <td>
                    {{ object.get_status_display }}
                </td>
                <td>
                    {{ object.get_is_seen_label }}
                </td>
                <td>
                    {{ object.start_date|date }}
                </td>
                <td>
                    {{ object.due_date|date }}
                </td>
                <td>
                    <div class="buttons are-small justify-center">
                        <a href="" class="button is-info is-light small-fa-fonts">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                        <a href="{% url 'manager:special_assignment:update' object.pk %}" class="button small-fa-fonts is-success is-light">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <a href="{% url 'manager:special_assignment:delete' object.pk %}" class="button small-fa-fonts is-danger is-light">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
    
                </td>
            </tr>
            {% endfor %}
    
    
    
        </tbody>
    </table>
    <!-- End jobs table -->
    {% else %}
    <div class="notification">
        You have no special assignments
    </div>
    {% endif %}
</section>

{% endblock dashboard_content %}
{% block externaljs %}
<script src="{% static 'js/manager/special_assignment/list.js' %}" defer type="module"></script>
{% endblock externaljs %}
