{% extends 'core/layouts/dashboard.html' %}
{% load static %}

{% block dashboard_content %}
<section class="box">
  <header>
    <h3 class="title is-3">
      Requested special assignments <a class="button is-primary mx-2" href="{% url 'manager:special_assignment:create' %}">
        <i class="fa-solid fa-plus"></i>
      </a>
    </h3>
  </header>
  <hr />
  {% if object_list.count > 0 %}
  <!-- Start jobs table -->
  <table class="table is-fullwidth is-bordered is-striped is-narrow table-list-component"
    id="managerSpecialAssignmentsTable">
    <thead>
      <tr>
        <th>Title</th>
        <th>Client</th>
        <th>Manager</th>
        <th>Assigned by</th>
        <!-- <th>User Type</th> -->
        <th>Reply(s)</th>
        <th>Status</th>
        <th>Seen</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Title</th>
        <th>Client</th>
        <th>Manager</th>
        <th>Assigned by</th>
        <!-- <th>User Type</th> -->
        <th>Reply(s)</th>
        <th>Status</th>
        <th>Seen</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
      <!-- has-background-danger-light,  has-background-success-light   -->
      {% for object in object_list %}

      <tr>
        <td>
          <a href="{% url 'manager:special_assignment:details' object.pk %}">
            {{ object.title }}
          </a>
        </td>
        <td>
          <a href="{% url 'manager:client:details' object.client.pk %}" target="_blank">
            {{ object.client.name }} <i class="fas fa-external-link-alt is-small"></i>
          </a>
        </td>
        <td>

          {% if object.get_user_type == "manager" %}
          <a target="_blank" href="#">
            {{ object.get_managed_user }}
          </a>
          {% elif object.get_user_type == "bookkeeper" %}
          <a href="{% url 'manager:bookkeeper:details' object.get_managed_user.pk %}" target="_blank">
            {{ object.get_managed_user }}
          </a>

          {% elif object.get_user_type == "assistant" %}
          <a target="_blank" href="#">
            {{ object.get_managed_user }}
          </a>
          {% endif %}

        </td>
        <td>

          {% if object.assigned_by.user_type == "manager" %}
          <a target="_blank" href="#">
            {{ object.assigned_by.fullname }}
          </a>
          {% elif object.assigned_by.user_type == "bookkeeper" %}
          <a href="{% url 'manager:bookkeeper:details' object.assigned_by.bookkeeper.pk %}" target="_blank">
            {{ object.assigned_by.fullname }}
          </a>

          {% elif object.assigned_by.user_type == "assistant" %}
          <a target="_blank" href="#">
            {{ object.assigned_by.fullname }}
          </a>
          {% endif %}
        </td>

        {% comment %}
        <td>
          <p class="is-capitalized">
            {{ object.get_user_type }}
          </p>
        </td>
        {% endcomment %}

        <td>
          {{ object.discussions.count }}
        </td>
        <td>

          {% if object.status == "completed" %}
          <span class="tag is-small is-success is-light has-text-weight-bold">
            {{ object.get_status_display }}
          </span>
          {% elif object.status == "rejected" %}
          <span class="tag is-small is-danger is-light has-text-weight-bold">
            {{ object.get_status_display }}
          </span>
          {% elif object.status == "in_progress" %}
          <span class="tag is-small is-info is-light has-text-weight-bold">
            {{ object.get_status_display }}
          </span>
          {% else %}
          <span class="tag is-small has-text-weight-bold">
            {{ object.get_status_display }}
          </span>
          {% endif %}


        </td>
        <td>

          {% if object.is_seen is True %}
          <i class="fa-solid fa-check has-text-success"></i>
          {% else %}
          <i class="fas fa-times has-text-danger"></i>
          {% endif %}

        </td>
        <td>
          {{ object.start_date|date }}
        </td>
        <td>
          {{ object.due_date|date }}
        </td>
        <td>
          <div class="buttons are-small justify-center">
            <a href="{% url 'manager:special_assignment:details' object.pk %}"
              class="button is-info is-light small-fa-fonts">
              <i class="fa-solid fa-eye"></i>
            </a>
            <a href="{% url 'manager:special_assignment:update' object.pk %}"
              class="button small-fa-fonts is-success is-light">
              <i class="fa-solid fa-pencil"></i>
            </a>
            <a href="{% url 'manager:special_assignment:delete' object.pk %}"
              class="button small-fa-fonts is-danger is-light">
              <i class="fa-solid fa-trash"></i>
            </a>
          </div>

        </td>
      </tr>
      {% endfor %}



    </tbody>
  </table>
  <!-- End jobs table -->
  {% else %}
  <div class="notification">
    You have no requested special assignments
  </div>
  {% endif %}
</section>

{% endblock dashboard_content %}
{% block externaljs %}
<script src="{% static 'js/manager/special_assignment/list.js' %}" defer type="module"></script>
{% endblock externaljs %}
