{% extends "components/core/table_list/table_list_layout.html" %}

{% block table_content_block %}
    <div class="table-container">
        <table class="table sortable is-fullwidth is-striped is-hoverable is-fullwidth table-list-comp"
               id="dbBackupTableComponent">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Backup file</th>
                    <th>Restored</th>
                    <th>Status</th>
                    {% if is_show_created_at is True %}<th>Created</th>{% endif %}
                    <th>Restored AT</th>
                    <th class="no-sort"></th>
                </tr>
            </thead>
            <tbody>
                {% for db_backup in object_list %}
                    <tr>
                        <td data-label="Name">{{ db_backup.name }}</td>
                        <td data-label="Backup file">
                            {{ db_backup.backup_path.name }}
                        </td>
                        <td data-label="Restored">
                            {% include "components/core/is_seen.html" with is_seen=db_backup.is_restored %}
                        </td>
                        <td data-label="Status">

                            {% include "components/core/table_list/status_tag.html" with status=db_backup.status tag_size="is-small" status_label=db_backup.get_status_display %}

                        </td>
                        {% if is_show_created_at is True %}
                            <td data-label="Created"
                                data-sort="{{ db_backup.created_at|date:"Ymd" }}">

                                {% include "components/core/table_list/table_cell_created.html" with created_at=db_backup.created_at user_type=request.user.user_type %}

                            </td>
                        {% endif %}
                        <td data-label="Restored AT" data-sort="{{ db_backup.restored_at|date:"Ymd" }}">
                            {% include "components/core/table_list/table_cell_created.html" with created_at=db_backup.restored_at user_type=request.user.user_type %}
                        </td>
                        <td class="is-actions-cell">

                            {% include "components/core/table_list/table_cell_actions.html" with object_pk=db_backup.pk user_type=user_type details_url=details_url action_urls_pattern=action_urls_pattern enabled_action_btns=enabled_action_btns is_enabled=True perms=perms app_name=app_name %}

                        </td>
                    </tr>
                {% empty %}
                    <tr class="is-empty">
                        <td colspan="0">
                            <section class="section">
                                <div class="content has-text-grey has-text-centered">
                                    <p>
                                        <span class="icon is-large"><i class="fa-solid fa-face-meh fa-3x"></i></span>
                                    </p>
                                    <p>Nothing's there&hellip;</p>
                                </div>
                            </section>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock table_content_block %}
