{% extends "core/layouts/dashboard.html" %}

{% load static %}

{% block dashboard_content %}
    <section id="job-template-details-section">
        {# Start error alert #}
        <div class="notification is-danger is-light"
             id="jobTemplateDetailsErrorAlert"
             hidden></div>
        {# End error alert #}
        {# Start navbar #}
        <div class="box">
            <div class="is-flex is-justify-content-space-between">
                <div>
                    <form id="jobTemplateDetailsOptionsForm" method="post">
                        <fieldset form="jobTemplateDetailsOptionsForm">
                            {% csrf_token %}
                            <select name="options"
                                    id="jobTemplateDetailsOptions"
                                    class="bkchlst-input selectize"
                                    title="Options"
                                    disabled
                                    data-template-pk="{{ object.pk }}"
                                    data-status="{{ object.status }}">
                                <option value="" data-display="Select" selected disabled>
                                    Options
                                </option>
                                <option value="create_job" data-label="Create job">
                                    Create job
                                </option>
                                <option value="create_job_for_multiple_clients"
                                        data-label="Create job for multiple clients">
                                    Create job for multiple
                                    clients
                                </option>
                            </select>
                            <button type="submit"
                                    class="button is-success is-light"
                                    id="jobTemplateDetailsOptionsBtn">Submit</button>
                        </fieldset>
                    </form>
                </div>
                <div>
                    <div class="buttons">
                        <a href="{% url 'jobs:templates:update' object.pk %}"
                           target="_blank"
                           class="button is-primary hint--top bkchlst-input is-disabled"
                           aria-label="Edit job">
                            <i class="fa-solid fa-pencil fa-xs"></i>&nbsp;Edit
                        </a>
                        <a href="#"
                           class="button is-link hint--top bkchlst-input is-disabled"
                           aria-label="Clone this template">
                            <i class="fa-solid fa-copy fa-xs"></i>&nbsp;Clone
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {# End navbar #}
        {# Start alert #}
        <div class="notification is-warning is-light"
             id="jobTemplateDetailsAlert"
             hidden>Please wait</div>
        {# End alert #}
        {# Start job title #}
        <header class="box has-ribbon">
            <div class="ribbon is-primary">Template</div>
            <h5 class="is-size-6 mt-3">{{ object.title }}</h5>
        </header>
        {# End job title #}
        {# Start job description #}
        <div id="job-description" class="box has-ribbon">
            {% if object.status == "draft" %}
                <div class="ribbon is-warning">{{ object.get_status_display }}</div>
            {% else %}
                <div class="ribbon is-primary">{{ object.get_status_display }}</div>
            {% endif %}
            <div class="columns">
                <div class="column is-10">
                    <div class="content">
                        <h4>Description</h4>
                        <!-- light-border p-2 -->
                        <article>
                            {{ object.description }}
                        </article>
                        <hr />
                        <!-- Job categories -->
                        <h5 class="mb-4">Categories</h5>
                        <div class="tags">
                            {% for category in object.categories.all %}
                                <a class="tag is-info is-light">{{ category.name }}</a>
                            {% empty %}
                                <h6 class="has-text-danger is-size-6">No categories</h6>
                            {% endfor %}
                        </div>
                        <!-- Job categories -->
                    </div>
                </div>
                <div class="column pt-5">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image hint--top" aria-label="Managed by">
                                <i class="fa-solid fa-user fa-2x"></i>
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p class="mb-1">
                                    <strong>Manager</strong>
                                    <div class="select is-small">
                                        <select title="Select"
                                                name="templateManager"
                                                id="templateManager"
                                                class="bkchlst-input">
                                                <option value="" disabled selected>---</option>
                                            {% for bookkeeper in all_bookkeepers %}
                                                <option value="{{ bookkeeper.pk }}">
                                                    {{ bookkeeper.user.fullname }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="media">
                        <figure class="media-left">
                            <p class="image hint--top" aria-label="Due Date">
                                <!-- <i class="fa-solid fa-calendar-clock fa-2x"></i> -->
                                <i class="fa-solid fa-calendar-days fa-2x"></i>
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Due Date</strong>
                                    <br />
                                    {% if object.due_date %}
                                        <small>{{ object.due_date|date }}</small>
                                    {% else %}
                                        <small class="has-text-danger">No due date</small>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="media">
                        <figure class="media-left">
                            <p class="image hint--top" aria-label="Job type">
                                <i class="fa-solid fa-briefcase fa-2x"></i>
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Job type</strong>
                                    <br />
                                    {% if object.job_type %}
                                        <small>{{ object.get_job_type_display }}</small>
                                    {% else %}
                                        <small class="has-text-danger">No type</small>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        {# End job description #}
        {# Start tasks, documents, notes #}
        <div class="box">
            <div class="columns is-flex">
                <div class="column">
                    <div class="content scrollable h-300">
                        <h5>Tasks</h5>
                        <!-- <hr /> -->
                        <button class="button is-fullwidth hint--top is-light is-primary"
                                aria-label="Add new template task"
                                id="addNewTaskTemplateBtn"
                                data-target="task-template-form-modal">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <br />
                        <table class="table sortable is-striped is-hoverable is-fullwidth">
                            <tbody>
                                {% for task in object.tasks.all %}
                                    <tr>
                                        <!-- <td width="10%" class="is-justify-content-center is-flex">
                                    <button class="button is-small is-light is-info hint--top more-tasks-btn" aria-label="More" type="button">
                                        <span class="icon is-small">
                                            <i class="fa-solid fa-angle-right fa-xs"></i>
                                        </span>
                                    </button>
                                </td> -->
                                        <td>
                                            <details>
                                                <summary class="has-cursor-pointer disable-text-selection font-size-14px">
                                                    {{ task.title|truncatechars:DEFAULT_TEMPLATE_TABLE_LIST_TRUNCATED_STRING }}
                                                </summary>
                                                <div class="content mt-5">
                                                    <!-- <hr /> -->
                                                    <p class="font-size-13px is-italic">{{ task.title }}</p>
                                                    <h6 class="font-size-14px">Task Items</h6>
                                                    <ul id="task-items-ul-wrapper">
                                                        {% for item in task.items.all %}
                                                            <li>
                                                                <a class="task-template-item font-size-13px"
                                                                   data-task-parent-pk="{{ task.pk }}"
                                                                   data-element-pk="{{ item.pk }}">{{ item.title|truncatechars:DEFAULT_TEMPLATE_TABLE_LIST_TRUNCATED_STRING }}</a>
                                                            </li>
                                                        {% empty %}
                                                            <li>No items</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </details>
                                        </td>
                                        <td>
                                            <div class="buttons has-addons are-small is-justify-content-end">
                                                <button type="button"
                                                        class="button task-template-trigger bkchlst-input is-small is-light is-link hint--top show-task-template-details-btn"
                                                        aria-label="Show details"
                                                        data-task-pk="{{ task.pk }}"
                                                        data-target="task-template-details-modal"
                                                        disabled>
                                                    <span class="icon is-small">
                                                        <i class="fas fa-eye fa-xs"></i>
                                                    </span>
                                                </button>
                                                <button type="button"
                                                        class="button bkchlst-input is-small is-light is-success hint--top add-new-task-item-btn"
                                                        aria-label="Add new task items"
                                                        data-task-pk="{{ task.pk }}"
                                                        disabled>
                                                    <span class="icon is-small">
                                                        <i class="fas fa-plus fa-xs"></i>
                                                    </span>
                                                </button>
                                                <button type="button"
                                                        class="button bkchlst-input is-small is-light is-info hint--top edit-task-template-btn"
                                                        aria-label="Edit task details"
                                                        data-task-pk="{{ task.pk }}"
                                                        disabled>
                                                    <span class="icon is-small">
                                                        <i class="fas fa-pencil fa-xs"></i>
                                                    </span>
                                                </button>
                                                <button type="button"
                                                        class="button is-small is-light is-danger hint--top delete-task-template-btn bkchlst-input"
                                                        aria-label="Delete task"
                                                        data-task-pk="{{ task.pk }}"
                                                        disabled>
                                                    <span class="icon is-small">
                                                        <i class="fas fa-trash fa-xs"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <div class="notification is-warning is-light">No tasks</div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <h5>Documents</h5>
                        <!-- <hr /> -->
                        <button class="button is-fullwidth hint--top is-light is-primary"
                                aria-label="Add new document"
                                id="addTemplateDocumentBtn"
                                data-target="document-template-form-modal">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <br />
                        <div class="list has-visible-pointer-controls scrollable h-300">
                            {% for document in object.documents.all %}
                                <div class="list-item">
                                    <div class="list-item-content">
                                        <div class="list-item-title">
                                            <a href="{{ document.template_file }}"
                                               download="{{ document.template_file }}">{{ document.title }}</a>
                                        </div>
                                    </div>
                                    <div class="list-item-controls">
                                        <div class="buttons is-right">
                                            <button type="button"
                                                    class="button is-small is-light is-info hint--top bkchlst-input document-template-edit-btn"
                                                    aria-label="Edit document"
                                                    disabled>
                                                <span class="icon is-small">
                                                    <i class="fas fa-pencil fa-xs"></i>
                                                </span>
                                            </button>
                                            <button type="button"
                                                    class="button is-small is-light is-danger hint--top bkchlst-input document-template-delete-btn"
                                                    aria-label="Delete document"
                                                    disabled>
                                                <span class="icon is-small">
                                                    <i class="fas fa-trash fa-xs"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="notification is-warning is-light">
                                    No documents
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <h5>
                            Notes
                        </h5>
                        <!-- <hr /> -->
                        <button class="button is-fullwidth hint--top is-light is-primary"
                                aria-label="Add new note"
                                data-target="notes-template-form-modal"
                                id="addTemplateNotesBtn">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <br />
                        <div class="list has-visible-pointer-controls scrollable h-300">
                            {% for note in object.notes.all %}
                                <div class="list-item">
                                    <div class="list-item-content">
                                        <div class="list-item-title">
                                            <a href="">
                                                {{ note.title }}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="list-item-controls">
                                        <div class="buttons is-right">
                                            <button type="button"
                                                    class="button bkchlst-input is-small is-light is-info hint--top note-template-edit-btn"
                                                    aria-label="Edit note"
                                                    disabled>
                                                <span class="icon is-small">
                                                    <i class="fas fa-pencil fa-xs"></i>
                                                </span>
                                            </button>
                                            <button type="button"
                                                    class="button bkchlst-input is-small is-light is-danger hint--top note-template-delete-btn"
                                                    aria-label="Delete note"
                                                    disabled>
                                                <span class="icon is-small">
                                                    <i class="fas fa-trash fa-xs"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="notification is-warning is-light">
                                    No notes
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End tasks, documents, notes #}
    </section>
    <!-- Start Task Item Template Modal Form -->

    {% include "segments/tasks/templates/task_item_modal.html" with user_type="manager" task_item_form=task_item_form request_object=request %}

    <!-- End Task Item Template Modal Form -->
    <!-- Start Task Template Modal Form -->

    {% include "segments/tasks/templates/task_template_details_modal.html" with user_type="manager" task_template_form=task_template_form request_object=request %}

    <!-- End Task Template Modal Form -->
    <!-- Start Task Template Modal Form -->

    {% include "segments/tasks/templates/task_template_form_modal.html" with user_type="manager" task_template_form=task_template_form request_object=request job_template_object=object %}

    <!-- End Task Template Modal Form -->
    <!-- Start Document Template Modal Form -->

    {% include "segments/documents/templates/document_template_modal_form.html" with user_type="manager" document_template_form=document_template_form request_object=request job_template_object=object %}

    <!-- End Document Template Modal Form -->
    <!-- Start Document Template Modal Form -->

    {% include "segments/notes/templates/note_templates_form_modal.html" with user_type="manager" note_template_form=note_template_form request_object=request job_template_object=object %}

    <!-- End Document Template Modal Form -->
    <!-- Start Client List Modal Form -->

    {% include "segments/clients/client_list_modal.html" with all_clients=all_clients job_template=object %}

    <!-- End Client List Modal Form -->
{% endblock dashboard_content %}
{% block externaljs %}
    <script src="{% static 'js/apps/task/templates/task_item.js' %}"
            defer
            type="module"></script>
    <script src="{% static 'js/apps/task/templates/task_template.js' %}"
            defer
            type="module"></script>
    <script src="{% static 'js/apps/documents/templates/document_template.js' %}"
            defer
            type="module"></script>
    <script src="{% static 'js/apps/notes/templates/notes_templates.js' %}"
            defer
            type="module"></script>
    <script src="{% static 'js/apps/jobs/templates/details.js' %}"
            defer
            type="module"></script>
{% endblock externaljs %}
