{% extends 'core/layouts/dashboard.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block dashboard_content %}
    <section class="box">
        <form method="post">
            <fieldset>
                <legend class="title has-text-black">
                    Update job template
                </legend>
                {% csrf_token %}
                {{ form| crispy }}
                <div class="has-text-right">
                    <button type="submit" class="button is-info is-fullwidth">Update</button>
                </div>
            </fieldset>
        </form>
    </section>
{% endblock dashboard_content %}
