{% spaceless %}
  <div class="field has-addons">
    <div class="control">
      <button type="button"
              class="button is-small showInputPasswordBtn"
              data-input-id="password-{{ object_pk }}"
              data-is-visible="0">
        <i class="fa-solid fa-eye"></i>
      </button>
    </div>
    <div class="control">
      <input class="input is-small"
             {% if is_readonly is True %} readonly {% endif %}
             type="password"
             id="password-{{ object_pk }}"
             value="{{ password }}"/>
    </div>
    <div class="control">
      <button type="button"
              class="button is-small has-tooltip-multiline copyInputBtn"
              data-text-type="password"
              data-tooltip="Copy password"
              data-input-id="password-{{ object_pk }}">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
  </div>
{% endspaceless %}
