{% extends 'core/layouts/dashboard.html' %}
{% load static %}
{% load url_helpers %}

{% block dashboard_content %}
<section id="{{ request.user.user_type }}-{{ app_label }}-list" class="block box">
    {# Start Include Header List Component #}
    {% include 'components/core/dashboard/header_title.html' with user_type=request.user.user_type app_name="task" page_header=page_header list_type=list_type is_archived_enabled=True only %}
    {# End Include Header List Component #}

  <div>
    {# Start Include Filter Form Component #}
    {% include 'components/core/forms/filter_form.html' with object_list=object_list user_type=request.user.user_type action_url="task:"|add:request.user.user_type|add:":list" reset_url="task:"|add:request.user.user_type|add:":list" filter_form=filter_form only %}
    {# End Include Filter Form Component #}

    {# Start Include Task Table List Component #}
    {% include 'components/task/table_list.html' with tasks_list=object_list user_type=request.user.user_type details_url="task:"|add:request.user.user_type|add:":details" action_urls_pattern="task:"|add:request.user.user_type enabled_action_btns='update,delete' only %}
    {# End Include Task Table List Component #}

    {# Start Include Pagination Component #}
    {% include 'components/core/pagination.html' with page_obj=page_obj only %}
    {# Start Include Pagination Component #}
  </div>
</section>

{% endblock dashboard_content %}
{% block externaljs %}
<script src="{% static 'js/manager/tasks/list.js' %}" defer type="module"></script>
{% endblock externaljs %}
