{% extends 'components/core/table_list/table_list_layout.html' %}
{% block table_content_block %}
{% if enable_create_btn == True %}
  {% include 'components/core/table_list/create_btn.html' with btn_id="addContactBtn" app_name=app_name perms=perms only %}
{% endif %}
<table class="table is-fullwidth is-striped is-hoverable is-fullwidth table-list-comp" id="contactsTableComponent">
  <thead>
    <tr>
      <th>Label</th>
      <th>Full Name</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for contact_object in object_list %}
    <tr>

      <td data-label="Label">
        <span class="tag is-medium has-text-weight-bold">{{ contact_object.get_contact_label_display }}</span>
      </td>
      <td data-label="Full Name">
        {{ contact_object.contact_fullname }}
      </td>
      <td data-label="Created">

        {% include 'components/core/table_list/table_cell_created.html' with created_at=contact_object.created_at user_type=user_type only %}
      </td>
      <td class="is-actions-cell">
        {% include 'components/core/table_list/table_cell_actions.html' with object_pk=contact_object.pk user_type=user_type details_url=details_url action_urls_pattern=action_urls_pattern is_enabled=True enabled_action_btns=enabled_action_btns perms=perms app_name=app_name only %}
      </td>
    </tr>
    {% empty %}
    <tr class="is-empty">
      <td colspan="4">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p><span class="icon is-large"><i class="fa-solid fa-face-meh fa-3x"></i></span></p>
            <p>Nothing's there&hellip;</p>
          </div>
        </section>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock table_content_block %}
