{% extends 'core/layouts/dashboard.html' %}
{% load static %}


{% block dashboard_content %}

<section id="manager-clients-list" class="box block">
  <header>
    <h3 class="title is-3">
      Archived Jobs
      <a class="button is-primary mx-2" href="{% url 'manager:jobs:create' %}">
        <i class="fa-solid fa-plus"></i>
      </a>

    </h3>
  </header>
  <hr />
  <div>
    {% if object_list.count > 0 %}
    <table class="table is-fullwidth is-bordered is-striped is-narrow table-list-component" id="managerClientsTable">
      <thead>
        <tr>
          <th>Job Title</th>
          <th>Client</th>
          <th>Bookkeeper(s)</th>
          <th>Task(s)</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Created AT</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Job Title</th>
          <th>Client</th>
          <th>Bookkeeper(s)</th>
          <th>Task(s)</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Created AT</th>
          <th>Actions</th>
        </tr>
      </tfoot>
      <tbody>

        {% for object in object_list %}
        <tr>
          <td>
            <a href="{% url 'manager:jobs:details' object.pk %}">{{ object.title }}</a>
          </td>
          <td>
            <a href="{% url 'manager:client:details' object.client.pk %}">
              {{ object.client }} <i class="fas fa-external-link-alt is-small"></i>
            </a>
          </td>
          <td>


            {% for bookkeeper in object.bookkeeper.filter %}
            <a href="{% url 'manager:bookkeeper:details' bookkeeper.pk %}" target="_blank"
              class="is-block has-text-justified">{{ bookkeeper }}</a>
            {% empty %}
            <p class="is-6 has-text-danger has-text-weight-bold">
              No bookkeeper for this job
            </p>
            {% endfor %}


          </td>

          <td>{{ object.tasks.count }}</td>
          <td>
            {% if object.status == "past_due" %}
            <span class="tag is-danger is-medium">{{ object.get_status_display }}</span>
            {% elif object.status == "complete" %}
            <span class="tag is-success is-medium">{{ object.get_status_display }}</span>
            {% elif object.status == "in_progress" %}
            <span class="tag is-warning is-medium">{{ object.get_status_display }}</span>
            {% elif object.status == "not_started" %}
            <span class="tag is-light is-medium">{{ object.get_status_display }}</span>
            {% elif object.status == "archive" %}
            <span class="tag is-link is-medium">{{ object.get_status_display }}</span>
            {% elif object.status == "not_started" %}
            <span class="tag is-info is-medium">{{ object.get_status_display }}</span>
            {% elif object.status == "not_complete" %}
            <span class="tag is-link is-medium">{{ object.get_status_display }}</span>
            {% endif %}
          </td>
          <td>{{ object.due_date }}</td>
          <td>{{ object.created_at|date }}</td>
          <td>
            <div class="buttons are-small justify-center">
              <a href="{% url 'manager:jobs:details' object.pk %}" class="button is-info is-light">
                <i class="fa-solid fa-eye"></i>
              </a>
              <a href="{% url 'manager:jobs:update' object.pk %}" class="button is-success is-light">
                <i class="fa-solid fa-pencil"></i>
              </a>
              <a href="{% url 'manager:jobs:delete' object.pk %}" class="button is-danger is-light">
                <i class="fa-solid fa-trash"></i>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    {% else %}
    <div class="notification is-warning">
      <!-- <button class="delete"></button> -->
      No Archive Job(s)

    </div>
    {% endif %}
  </div>

  {% endblock dashboard_content %}

  {% block externaljs %}
  <script src="{% static 'js/manager/client/list.js' %}" defer type="module"></script>
  {% endblock externaljs %}
