{% extends 'core/layouts/dashboard.html' %}
{% load crispy_forms_tags %}


{% block dashboard_content %}

<section id="manager-create-job-form">
    <div class="box">
        <form method="post" id="create-job-form">
            {% csrf_token %}
            <legend class="title has-text-black">Create new job</legend>
            <hr>
            <fieldset form="create-job-form">
                {{form| crispy}}
                <div class="has-text-right">
                    <button type="submit" class="button is-info
                        is-fullwidth">Create</button>
                </div>
            </fieldset>
        </form>
    </div>
</section>

{% endblock dashboard_content %}
