{% extends 'core/layouts/dashboard.html' %}
{% load static %}



{% block dashboard_content %}

<section id="manager-job-details">

    <div class="box">
        <div class="columns is-desktop">
            <div class="column is-8">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title has-text-dark">{{ object.title }}</p>
                        <button class="card-header-icon" aria-label="more options">

                            {% if object.status == "past_due" %}
                            <span class="tag is-danger is-medium">{{ object.get_status_display }}</span>
                            {% elif object.status == "complete" %}
                            <span class="tag is-success is-medium">{{ object.get_status_display }}</span>
                            {% elif object.status == "in_progress" %}
                            <span class="tag is-warning is-medium">{{ object.get_status_display }}</span>
                            {% elif object.status == "not_started" %}
                            <span class="tag is-light is-medium">{{ object.get_status_display }}</span>
                            {% elif object.status == "archive" %}
                            <span class="tag is-medium">{{ object.get_status_display }}</span>
                            {% elif object.status == "not_started" %}
                            <span class="tag is-info is-medium">{{ object.get_status_display }}</span>
                            {% elif object.status == "not_complete" %}
                            <span class="tag is-link is-medium">{{ object.get_status_display }}</span>
                            {% endif %}


                        </button>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <article>
                                <header class="mb-5">
                                    <p class="title is-3">Client</p>
                                    
                                    {% if object.client %}
                                    <p class="subtitle is-4">
                                        <a href="{% url 'manager:client:details' object.client.pk %}"
                                            target="_blank">{{ object.client }}</a>
                                    </p>
                                    {% else %}
                                        No client
                                    {% endif %}
                                        
                                    
                                </header>
                                <hr />

                                <section>
                                    {{ object.description }}
                                </section>
                            </article>
                            <hr />
                            <article class="mt-3">
                                <h4>
                                    Due Date: <time datetime="{{ object.due_date }}">{{ object.due_date }}</time>
                                </h4>
                                <hr />
                                <h6 class="is-size-6 has-text-grey">
                                    Created AT: <time
                                        datetime="{{ object.created_at|date }}">{{ object.created_at|date }}</time>
                                </h6>
                            </article>

                            <br />

                        </div>
                    </div>
                    <!-- <footer class="card-footer">
                        <a href="#" class="card-footer-item">Save</a>
                        <a href="#" class="card-footer-item">Edit</a>
                        <a href="#" class="card-footer-item">Delete</a>
                    </footer> -->
                </div>

                <!-- Start Tasks Card -->
                <section id="tasksTableWrapper">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title has-text-dark">Tasks</p>
                            <button type="button" id="managerAddTaskBtn"
                                class="card-header-icon has-tooltip-arrow bkchlst-input is-disabled is-responsive"
                                disabled data-tooltip="Add new task" aria-label="Add new task">
                                <span class="icon">
                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                </span>
                            </button>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <div class="box">
                                    {% if object.tasks.count > 0 %}
                                    <table class="table is-fullwidth table-100" id="managerJobTasksTable">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="checkbox">
                                                        <input id="managerTaskParentCheckboxInput" type="checkbox" />
                                                    </label>
                                                </th>
                                                <th>Title</th>
                                                <th>Status</th>
                                                <th>Due Date</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>Title</th>
                                                <th>Status</th>
                                                <th>Due Date</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>


                                            {% for task in object.tasks.all %}
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input value="{{ task.pk }}" class="managerTaskCheckboxInput"
                                                            type="checkbox" />
                                                    </label>
                                                </td>
                                                <td>
                                                    <a data-task-id="{{ task.pk }}"
                                                        class="taskViewBtn">{{ task.title }}</a>
                                                </td>
                                                <td>{{ task.get_task_status_display }}</td>
                                                <td>{{ task.due_date }}</td>
                                                <td>
                                                    <div class="field is-grouped">
                                                        <p class="control">
                                                            <button data-task-id="{{ task.pk }}" type="button"
                                                                class="button is-info taskViewBtn is-small is-responsive bkchlst-input is-disabled"
                                                                disabled>
                                                                <i class="fa-solid fa-eye"></i>
                                                            </button>
                                                        </p>
                                                        <p class="control">
                                                            <button data-task-id="{{ task.pk }}" data-task-title="{{ task.title }}" type="button"
                                                                class="button is-danger taskDeleteBtn is-small is-responsive bkchlst-input is-disabled"
                                                                disabled>
                                                                <i class="fa-solid fa-trash"></i>
                                                            </button>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                    {% else %}
                                    <div class="notification is-warning">
                                        <!-- <button class="delete"></button> -->
                                        No task(s)
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- <footer class="card-footer">
                                <a href="#" class="card-footer-item">Save</a>
                                <a href="#" class="card-footer-item">Edit</a>
                                <a href="#" class="card-footer-item">Delete</a>
                            </footer> -->
                    </div>
                </section>
                <!-- End Tasks Card -->
            </div>


            <div class="column is-4">
                <div class="box pb-1 pt-2 px-0">
                    <div class="job-item-block mb-5 is-bordered has-border-bottom-width-1 p-2">
                        <article class="media">


                            <div class="media-content">
                                <div class="content">
                                    <a class="button is-fullwidth has-text-weight-bold "
                                        data-tooltip="Update job details"
                                        href="{% url 'manager:jobs:update' object.pk %}" target="_blank">
                                        Edit Job
                                    </a>
                                </div>

                            </div>

                        </article>
                    </div>
                    <hr />
                    <div
                        class="job-item-block mb-5 is-bordered has-border-bottom-width-1 {% if object.is_job_pass_due is True %} has-background-danger-light {% endif %} p-2">
                        <article class="media">
                            <figure class="media-left mr-5">
                                <p class="image is-16x16 is-rounded">
                                    <i class="fa-solid fa-2x fa-calendar has-text-success"></i>
                                </p>
                            </figure>

                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Due Date</strong>
                                        <!-- <small>@johnsmith</small> <small>31m</small> -->
                                        <br>
                                        <span>{{ object.due_date }}</span>
                                    </p>
                                </div>

                            </div>

                        </article>
                    </div>
                    <div class="job-item-block mb-5 is-bordered has-border-bottom-width-1 p-2">
                        <article class="media">
                            <figure class="media-left mr-5">
                                <p class="image is-16x16 is-rounded">
                                    <i class="fa-solid fa-2x fa-user-alt has-text-success"></i>
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Bookkeeper(s)</strong>
                                        <!-- <small>@johnsmith</small> <small>31m</small> -->
                                        <br>

                                        {% for bookkeeper in object.bookkeeper.filter %}
                                        <a class="is-block" target="_blank"
                                            href="{% url 'manager:bookkeeper:details' bookkeeper.pk %}">{{ bookkeeper.fullname }}</a>
                                        {% empty %}
                                        No Bookkeeper(s)
                                        {% endfor %}


                                    </p>
                                </div>

                            </div>

                        </article>
                    </div>
                </div>

                <div>
                    <div id="documentsPanel" class="mb-5">
                        <article class="panel is-success">
                            <p class="panel-heading">
                                Documents
                            </p>
                            <div class="panel-block">
                                <p class="control has-icons-left">
                                    <button id="managerAddDocumentToJobBtn" title="Add document" type="button"
                                        class="button is-success is-outlined is-fullwidth bkchlst-input is-disabled is-responsive"
                                        disabled>
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </p>
                            </div>

                            {% for document in object.documents.filter %}
                            <div class="panel-block">
                                <a class="is-active documentElement" href="{{ document.document_file.url  }}"
                                    target="_blank" data-document-id="{{ document.pk }}">
                                    <!-- <span class="panel-icon">
                                        <i class="fas fa-book" aria-hidden="true"></i>
                                    </span> -->
                                    {{ document.title }}
                                </a>
                                <button data-document-id="{{ document.pk }}" data-document-title="{{ document.title }}" class="button is-danger is-light is-small managerDeleteDocumentBtn bkchlst-input ml-5 is-rounded" disabled type="button">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>

                            {% empty %}
                            <div class="notification is-warning panel-block">
                                No document(s)
                            </div>
                            {% endfor %}



                        </article>
                    </div>

                    <div id="notesPanel">
                        <article class="panel is-info">
                            <p class="panel-heading">
                                Notes
                            </p>

                            <div class="panel-block">
                                <p class="control has-icons-left">
                                    <button id="managerAddNoteToJobBtn" title="Add note" type="button"
                                        class="button is-info is-outlined is-fullwidth bkchlst-input is-disabled is-responsive"
                                        disabled>
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </p>
                            </div>


                            {% for note in object.notes.filter %}
                            <div class="panel-block">
                                <a class="is-active noteElement" data-note-id="{{ note.pk }}">
                                    <!-- <span class="panel-icon">
                                        <i class="fas fa-book" aria-hidden="true"></i>
                                    </span> -->
                                    {{ note.title }}
                                </a>
                                <button data-note-id="{{ note.pk }}" data-note-title="{{ note.title }}" class="button is-danger is-light is-small managerDeleteNotesBtns bkchlst-input ml-5 is-rounded" disabled type="button">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                            
                            {% empty %}
                            <div class="notification is-warning panel-block">
                                No note(s)
                            </div>
                            {% endfor %}




                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Task Form -->
    {% include 'manager/jobs/segments/add_task_modal.html' %}
    <!-- End Task Form -->
    <!-- Start Update Task Form -->
    {% include 'manager/jobs/segments/update_task_modal.html' %}
    <!-- End Update Task Form -->
    <!-- Start Document Form -->
    {% include 'manager/jobs/segments/add_document_modal.html' %}
    <!-- End Document Form -->
    <!-- Start Update Document Form -->
    {% include 'manager/jobs/segments/update_document_modal.html' %}
    <!-- End Update Document Form -->
    <!-- Start Note Form -->
    {% include 'manager/jobs/segments/add_note_modal.html' %}
    <!-- End Note Form -->
    <!-- Start Update Note Form -->
    {% include 'manager/jobs/segments/update_note_modal.html' %}
    <!-- End Update Note Form -->
    {% endblock dashboard_content %}

    {% block externaljs %}
    <script defer>
        window.localStorage.setItem("retrieveNoteUrl", "{% url 'notes:api:manager:retrieve-note-manager' %}");
        window.localStorage.setItem("UpdateNoteUrl", "{% url 'notes:api:manager:update-note' %}");
        window.localStorage.setItem("DeleteNoteUrl", "{% url 'notes:api:manager:delete-note' %}");
        window.localStorage.setItem("DeleteDocumentUrl", "{% url 'documents:api:manager_api:delete-document' %}");
        window.localStorage.setItem("RetrieveJobUrl", "{% url 'jobs:api:manager:retrieve' %}");
        window.localStorage.setItem("DeleteJobUrl", "{% url 'jobs:api:manager:delete' %}");
        window.localStorage.setItem("RetrieveTaskUrl", "{% url 'task:api:manager:retrieve' %}");
        window.localStorage.setItem("RetrieveDocumentUrl", "{% url 'documents:api:manager_api:retrieve' %}");
        window.localStorage.setItem("DeleteTaskUrl", "{% url 'task:api:manager:delete' %}");
        window.localStorage.setItem("origin", "{{ origin }}");
    </script>
    <script src="{% static 'js/manager/jobs/details.js' %}" defer type="module"></script>
    {% endblock externaljs %}
